


/*div#opacSlideContainer {

  margin-top:-200px !important;
}
*/

/*#aerialLevel {
  margin-top:-81px !important;
}*/

/*#aerialLevel {
  margin-top:-81px !important;

}*/

/*#aerialLevel {
  position:absolute !important;
  top:100px !important;
  left:10px !important;
}*/



/*#aerialLevel {
  position:absolute !important;
  top:400px !important;
  left:10px !important;
}
*/

/*
#aerialSlider {
  display: inline-block; 
  float: left;
  width: 50px !important;

  margin-top:-40.75px !important;
}
*/