
/* ----------------------------------------------------------- */
/* --------------------- main-style.css ---------------------- */
/* ----------------------------------------------------------- */


/* ------------------- Font Imports ------------ */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
    src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'customfont';
    src: url('../fonts/customfont.eot?88663427');
    src: url('../fonts/customfont.eot?88663427#iefix') format('embedded-opentype'),
    url('../fonts/customfont.woff?88663427') format('woff'),
    url('../fonts/customfont.ttf?88663427') format('truetype'),
    url('../fonts/customfont.svg?88663427#customfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";




/* --------------------- Main Style -------------- */

/* Main */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* added */
    overflow: hidden;
    /*margin-top: 50px !important;*/
}

#title {
    color: #fff;
    background-color: rgb(17, 63, 112) !important;
}

#logoTitle {
    margin-top: -5px;
    margin-right: -6px;
    margin-left: 17px;
}

#imgLogo {
    margin-left: 5px;
    margin-top: -5px !important;
}

#logoTitle span {}

#CountyLogo {
    position: relative;
    margin-top: -4px;
    margin-right: 2px;
}

/* Recorded Doc Num Link */

/* Link Info Links */

.infoLinks {
    color: CornflowerBlue !important;
    outline: none;
    text-decoration: none;
}

#glyphicon-search {}


.introPaneText {
    color: hsla(0,0%,100%,.9) !important;
    line-height: 1.25 !important;
    font-size: 1.625rem !important;
}

.introPaneTextSubset {
    color: hsla(0,0%,100%,.9) !important;
/*    color: #f2f2f2 !important;*/

    line-height: 1.25 !important;
    font-size: 14px !important;
/*    font-size: 13px !important;*/
    float:left;
    display:inline-block;
    /*padding-top:12px;*/
    padding-top:12px;

    padding-left:2px;
}

.introPaneTextSubsetIcons {
    color: hsla(0,0%,100%,.8) !important;
    font-size: 1.525rem !important;
}

.introBottomSection {
/*    line-height: 1.25 !important;*/
    margin-top:50px;
/*    position: absolute;
    left: 42px;
    bottom: 183px;*/

    margin-left:28px;
}








/* Fonts  */

.verdFont {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.trebFont {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
}

/* Custom Font-Icon Lib */

.custom-icon {
    font-family: "customfont";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.custom-icon-2 {
    font-family: "customfont";
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icon style */

.slide-icons {
    font-size: 1.1em;
}

.fa-chevron-left {
    color: #EEE !important;
}

/* Custom adjustments to iconic icon framework */

.iconic-adjust-11 {
    margin-right: 4px;
    margin-left: -3px;
}

.iconic-adjust-10 {
    margin-right: 5px;
    margin-left: -3px;
}

.iconic-adjust-8 {
    margin-right: 7px;
    margin-left: -3px;
}

.iconic-adjust-main {
    font-size: 1.5em !important;
}








/* Headers */

h3 {
  /*  font-family: 'Roboto', sans-serif;*/
  /*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;*/
  /*      font-family: 'Lato', sans-serif;*/
  /*      font-family: Lato,'Noto Sans',sans-serif;*/
  /*      font-family: 'Open Sans', sans-serif;*/
  /*      font-family: Lato,'Noto Sans',sans-serif;*/
    font-family: 'Open Sans', sans-serif !important;
}

/* used on accordion header text */

/*
h4 {
  font-size: 13px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  }
}*/

h5 {
    font: 22px Helvetica, Arial, Sans-Serif;
    letter-spacing: -1px;
    color: #f6f6f6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

h6 {
    margin-top: 2px !important;
    font-size: 17px;
    font-family: "verb", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #8ED1E9;
}










/* --------------------- Map Specific -------------- */

/* Map Element */

#mapDiv {
    overflow: hidden;
    height: 100% !important;
}

.map {
    overflow: hidden;
}

.esriControlsBR {
    display: none !important;
}

/*.map .container {
position: relative;
border: none;
padding: 0px;
margin: 0px;
left: 0px;
top: 0px;
overflow: hidden;
width: 100%;
height: 100%;
}*/

/*.fullmap {
  position: absolute;
  top: 70px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #CCCCCC;
  z-index: -1;
  margin-left: 0px !important;
}*/


/* Map Zoom Slider */

.esriSimpleSlider {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

/* GeoLocate Button */

#LocateButton {
    position: absolute;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    bottom: 84px;
    right: 20px;
}

.LocateButton .zoomLocateButton {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: rgb(17, 63, 112);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.LocateButton .zoomLocateButton:hover {
    background-color: #0D2E56;
    transition: all 0.30s linear;
}


/* Map Legend, Weather module */

#legendDivCasing {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    padding: 10px 14px;
    margin: 0;
    color: #FFF;
    background-color: rgba(34, 34, 34, 0.96);
    width: 280px;
    height: 299px;
    margin: auto;
}

#legendDiv {
    height: 88.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2px;
    margin-left: 2px;
}

#weatherDivCasing {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    padding: 10px 14px;
    margin: 0;
    color: #FFF;
    background-color: rgba(34, 34, 34, 0.96);
    width: 280px;
    /*height: 109px;*/
    min-height: 109px;
    height: auto;
    margin: auto;
}

#weatherDiv {
    height: 68.5%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2px;
    margin-left: 2px;
}

#valuationDivCasing {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    padding: 10px 14px;
    margin: 0;
    color: #FFF;
    background-color: rgba(34, 34, 34, 0.96);
    width: 280px;
    /*height: 109px;*/
    height: auto;
    margin: auto;
}

#valuationDiv {
    height: 68.5%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2px;
    margin-left: 2px;
}





/* legend specific */

.esriLegendServiceLabel {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    color: #A3A3A3;
}


/* Measure Block */

#measureDivCasing {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    padding: 10px 14px;
    margin: 0;
    color: #FFF;
    background-color: rgba(34, 34, 34, 0.96);
    width: 280px;
    height: 280px;
    margin: auto;
}

#measureDiv {
    height: 68.5%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2px;
    margin-left: 2px;
}


/* Map Scalebar control - added at map constructor */

.esriScaleLabelDiv {
    position: relative;
    top: -5px;
    width: 100%;
    padding: 2px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.esriScalebar {
    z-index: 30;
    position: absolute;
    width: 0px;
    height: 20px;
    margin-left: 6cm;
}

.esriScalebarLine {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 6px;
    border: 2px solid #dddddd;
}


/* InfoWindow PopUp */

.esriPopup .titlePane {
    background-color: #333333 !important;
    color: white !important;
    font-weight: 700;
}

.infoWindowCustom {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: white;
}


/* Esri PopUp specific - modify for mobile friendly expanded prop info view */

.esriPopup .titleButton.close {
    display: none;
}

.esriPopup .titleButton.maximize {
    display: block;
    margin-top: 4px;
    margin-right: -10px;
}

.esriPopup .titleButton.restore {
    display: block;
    margin-top: 4px;
    margin-right: -10px;
}

.esriPopup {
    z-index: 9999999 !important;
    transition: margin 0.5s ease-in-out;
}

.esriPopupMaximized {
    margin-top: -24px !important;
    margin: -24px !important;
}

.esriPopup .esriPopupWrapper {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.esriPopup .titlePane {
    border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}

.esriPopup .pointer.top {

}

.esriPopup .pointer,
.esriPopup .outerPointer {

}










/* ------------ Close Icons for Windows --------- */

.widgetClose {
    height: 12px;
    width: 12px;
    margin-top: 2px;
    cursor: pointer;
}

#closeIcon {
    display: none;
    position: absolute;
    z-index: 9999999;
    top: 15px;
    right: 63px;
    margin-top: 4px;
    color: gray !important;
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.closeIcon::-ms-clear {
    display: none;
    visibility: hidden;
}

#closeIcon2 {
    display: none;
    position: absolute;
    top: 7px;
    right: 50px;
    z-index: 9999999;
    margin-top: 3px;
    color: gray !important;
    cursor: pointer;
}










/* ------------ Page UI Elements --------- */

.jumbotron {
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background: transparent;
    padding-top: 0px;
    padding-bottom: 15px;
    font-size: 14px !important;
    font-weight: 300;
    /*  font-family: 'Roboto', sans-serif;*/
    /*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif !important;

    /* ADDED */
    /* changes default intro jumbo style padding to 20 from 30 */
    
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 200;
}

.fullwidth {
    width: 55%;
    margin-right: auto;
    margin-left: auto;
}

.alert-info {
    border-radius: 3px;
    background: rgb(37, 83, 132);
    border: #333;
    color: #EEE;
    font-size: 17px !important;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* the alert box style used in intro-panel items */
.alert-info-custom {
    /*border-radius: 3px;*/
    border-radius: 0px;
    /*background: rgb(37, 83, 132);*/
    background: transparent;
    /*border: #333;*/
    border:2px solid rgb(37, 83, 132);
    color: #EEE;
    font-size: 17px !important;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    width:100%;



/*    padding-top:0px;

    padding-bottom:0px;*/



/*
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;*/

/*    border-top: 2px solid transparent;
     border-bottom: 8px solid transparent;
     border-right: 8px solid blue*/

    border-top: 2px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgb(37, 83, 132);


     


/*    margin-left: -6px !important; 
    margin-top:3px; 
    padding:2px; 
    padding-right:3px !important; 
    border-radius: 0px !important;
*/

}



/* Override */

.navbar-toggle {
    background-color: Transparent !important;
    background-repeat: no-repeat !important;
    border: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    outline: none !important;
}


/* added to compensate for navbar-inner element include:
needed or search form inline mobile format compat*/

.navbar-inner {
    margin-left: -15px;
}


/* Firefox Specific */

.navbar-collapse {
    min-width: 786px;
}

.navbar {
    border-bottom-right-radius: 0px;
}

.navbar-inverse {
    background: #232323 !important;
    border-color: #232323 !important;
}



/* Intro Tour Button */

.introButton {
    border-radius: 3px;
    background: #505050 !important;
    border-color: #505050 !important;
    font-size: 14px !important;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; */
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-top: 10px !important;
}

.introButton-variant:hover {
    color: #fef4f4 !important;
    border-color: #fef4f4 !important;
}

.introButton-variant {
    background: transparent !important;
    border-color: #505050 !important;
    color: #AAA;
    display: block;
    padding: 9px 15px;
    border: 2px solid #CCC;
    color: #999;
    transition: .3s ease all;
    margin-top: 10px !important;
    border-radius: 0px !important;

/*
    background-color: transparent !important;
*/


    width:100%;
}



/* Select Box Theme */

.styleBox-variant {
    color: #DEDEDE;
    border-radius: 0px;
    background: #222 !important;
    border-color: #505050 !important;
    display: block;
    border: 2px solid #CCC;
    transition: .3s ease all;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
    font-size: 14px !important;
}

.styleBox-variant:hover {
    color: #fef4f4 !important;
    border-color: #fef4f4 !important;
}

/*.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

.select select {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: #e6e6e6;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}

.select select:disabled {
  pointer-events: none;
  opacity: .5;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
*/



/* Accordion (angular-ui) */

.panel-title {
    font-family: Lato, 'Noto Sans', sans-serif;
    letter-spacing: -.0323em;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 1px #fff;
}

.panel-body {
    /*  font-family: 'Noto Sans',sans-serif;
    /*font-family: Lato,'Noto Sans',sans-serif;*/
    margin: 0px 4px 4px 4px !important;
}

.panel-heading {
    padding: 6px 15px;
}

.panel-default>.panel-heading {
    color: #333;
    background-image: url("images/greyBG.jpg");
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-body {
    padding: 3px;
    padding-left: 8px;
    border-color: #ffffff !important;
}

.panel-group .panel-heading+.panel-collapse .panel-body {

}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border: 1px solid transparent;
}

.panel-default>.panel-body {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.31);
}

.panel-group .panel {
    border-radius: 1px !important;
}

.collapse.in {
}

.panel-collapse.collapse {
}

div.panel.panel-default {
}

.panel-default {
    border: 0px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
}

.panel-group .panel+.panel {
    margin-top: 3px;
}

a.accordion-toggle {
    text-decoration: none !important;
    outline: none;
    cursor: pointer;
}



/* Print Friendly elements - on PropInfo */

#printLoadingTag,
#printFriendlyLink {
    display: none;
}


/* autocomplete custom style */

.autocompleteCustom {

    border: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}



/* Used for map View & FLight date checkbox lists */

/* Two & Three-Col Native lists */

.two-col-special>.dropdown-menu {
    margin-top: -29px !important;
    margin-left: 236px;
    border: 0px;
}

.two-col-special {
    width: 350px !important;
    background-color: #222;
}

.two-col-special li {
    display: inline-block;
    width: 49%;
}

.two-col-special li:before {

}

/* Two-Col lists */

.two-col-special>.dropdown-menu {
    margin-top: -29px !important;
    margin-left: 236px;
    border: 0px;
}

.two-col-special {
    width: 350px !important;
    background-color: #222;
}

.two-col-special li {
    display: inline-block;
    width: 49%;
}

.two-col-special li:before {

}



.newspaper2>.dropdown-menu {
    margin-top: -29px !important;
    margin-left: 236px;
    border: 0px;
}

.newspaper2 {
    -webkit-columns: 100px 2;
    -moz-columns: 100px 2;
    columns: 100px 2;
    width: 350px !important;
    background-color: #222;
}

.newspaper3>.dropdown-menu {
    margin-top: -29px !important;
    margin-left: 216px;
    border: 0px;
}

.newspaper3 {
    -webkit-columns: 100px 3;
    -moz-columns: 100px 3;
    columns: 100px 3;
    width: 500px !important;
    background-color: #222;
}



/* Pull out side panels, list item adjustments (for a href element) */

.newspaper2>.dropdown-menu li span {
    /*padding-left:20px;*/
}

.newspaper2>.dropdown-menu a {
    /*padding:2px;*/
}

.newspaper2>.dropdown-menu a label {
    /*width:100%;*/
}


.newspaper3>.dropdown-menu li span {
    /*padding-left:20px;*/
}

.newspaper3>.dropdown-menu a {
    /*padding:2px;*/
}

.newspaper3>.dropdown-menu a label {
    /*width:100%;*/
}



/* Map View & Flight Date Checkbox List items (Bootstrap) */

.glyphicon-ok {
    display: inline;
    margin-right: 2px;
}

.glyphicon-none:before {
    margin-right: 4.7px;
    content: "\2122";
    color: transparent !important;
}

.glyphicon-unok {
    margin-right: 20.5px;
    display: inline;
    font-size: 14px !important;
}

li label {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    white-space: nowrap;
    width: 147px;
    cursor: pointer;
}


/* extra padding for the checkboxes */

.chkPadding {
    /*padding-right: 2px;*/
}

/* ALTERNATIVE */

input[type='checkbox'].icon-checkbox {
    display: none
}

input[type='checkbox'].icon-checkbox+label .unchecked {
    display: inline;
    font-size: 14px !important;
}

input[type='checkbox'].icon-checkbox+label .checked {
    display: none
}

input[type='checkbox']:checked.icon-checkbox {
    display: none
}

input[type='checkbox']:checked.icon-checkbox+label .unchecked {
    display: none
}

input[type='checkbox']:checked.icon-checkbox+label .checked {
    display: inline;
    font-size: 14px !important;
}

/*.glyphicon:before {
     visibility: visible;
}
.glyphicon.glyphicon-unchecked:checked:before {
    content: "\e067";
}
.glyphicon.glyphicon-checked:checked:before {
    content: "\e067";
}
input[type=checkbox].glyphicon{
     visibility: hidden;        
}

.glyphicon-unchecked {
  font-size:14px !important;
  font-weight:400 !important;
}

li label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  white-space: nowrap;
  width:147px;
  padding-left: 5px;
  cursor:pointer;
}*/

/* enable and disable checkbox list item styles */

.disable_StreetList,
.disable_LegList,
.disable_WeatherList {
    pointer-events: none;
    opacity: 0.4;
}

.enable_StreetList,
.enable_LegList,
.enable_WeatherList {
    pointer-events: auto;
    opacity: 1;
}

/* general disable list item */

.disable_List {
    pointer-events: none !important;
    opacity: 0.4 !important;
}


















/* ----------- Side-Panel & Pull-out Menu Specific ------------- */

/* Custom Carets */

.caret-right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.main-nav li {
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.main-nav .nav-text a {
    transition: .3s ease all;
    color: #DEDEDE;
    display: block;
    font-weight: 300;
    padding: 2px 30px;
    font-size: 17px;
    transition: .3s ease all;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
    line-height: 1.5;
    text-decoration: none!important;

    font-family: 'Open Sans', sans-serif !important;
}
/* weather block's forecast view dropdown style - for consistency */
#forecastViewList {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-decoration: none!important;
}
#forecastViewList a {
    transition: .3s ease all;
    color: #fff;
    display: block;
    font-weight: 300;
    padding: 2px 30px;
    font-size: 17px;
    transition: .3s ease all;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
    line-height: 1.5;
    text-decoration: none!important;

    font-family: 'Open Sans', sans-serif !important;
}




#aerialLevel {
    color: #DEDEDE;
    font-weight: 300;
    font-size: 12px;
    transition: .3s ease all;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
    line-height: 1.5;

    font-family: 'Open Sans', sans-serif !important;
}

.main-nav .nav-text a:hover {
    color: #fef4f4;
    transition: .3s ease all;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
}

.main-nav .nav-text li:hover {
    background: #111;
    transition: .3s ease all;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
}

.main-nav .nav-text {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-nav .nav-text ul .dropdown-menu {

}

.open>.dropdown-menu {
    margin-top: -29px !important;
    margin-left: 236px;
    border: 0px;
    border-radius: 0px !important;
    box-shadow: none !important;
    outline: 6px solid #222;
}

.open>.dropdown-menu a {
    background-color: #222;
    color: #DEDEDE !important;
}

.open>.dropdown-menu a:hover {
    color: white !important;
    transition: .3s ease all;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
}

.open>.dropdown-menu a:focus {
    background-color: #333 !important;
    color: white !important;
}

.open>.dropdown-menu li:hover {
    color: white !important;
    background: #111 !important;
    background-color: #111 !important;
    transition: .3s ease all;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
}

.open>.dropdown-menu>li {

}


/* View Headers */

#introHeader,
#displayHeader,
#toolsHeader,
#resourcesHeader {
    position: absolute;
    left: 0px;
    z-index: 99;
    -webkit-transition: all 200ms ease-out 0ms;
    -moz-transition: all 200ms ease-out 0ms;
    -o-transition: all 200ms ease-out 0ms;
    -ms-transition: all 200ms ease-out 0ms;
    transition: all 200ms ease-out 0ms;
    border-radius: 0!important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 240px;
}


/* Arrow Toggles */

#introToggle,
#displayToggle,
#toolsToggle,
#resourcesToggle {
    font-size: .9em;
    margin-top: 2px;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    float: right;
}


#slidepanel .divider {
    margin: 9px 0;
    height: 0;
    clear: both;
    border: solid #ddd;
    border-width: 1px 0 0;
    align: center;
    color: #cccccc !important;
    text-decoration: none;
}



/* Information Card */

#InfoCardDialog {
    z-index: 99;
    outline: none;
    position: absolute;
    height: 195px;
    width: 220px;
    left: 10px !important;
    bottom: 15px !important;
    color: #666;
    background: #fff;
}

.cards-strong {
    color: #AAA !important;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif;
    background: #111;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.cards-bold {
    font-weight: bolder !important;
}

.cards-light {
    color: #666;
    font-size: 12px !important;
}

.cards-title {
    color: #232323;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    padding: 2px;
    padding-left: 5px;
    background-color: #0d77b6 !important;
    background-image: none;
    font-size: 14px !important;
    font-weight: bold !important;
    text-shadow: 0 -1px 1px #214675;

    border: 1px solid #2e63a5;
    border-bottom: 0px !important;
}

.headertitle {
    padding: 5px;
    color: #232323;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 1.428571429;

    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}

.infoBlock {
    position: absolute;
    left: -4px;
    bottom: 13px;
    z-index: 999999;
    width: 248px;
    border-radius: 0px;
    height: auto;
    position: absolute;
    border-radius: 0px;
    padding: 5px;
    z-index: 9999999;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.ui-icon-clipboard {
    background-position: -158px -126px;
}













/* ------------ StreetView Control --------- */

/* StreetView label */



.spG6 {
/*    border: 0px !important;
    box-shadow: none !important;*/
/*    -webkit-box-shadow: 0 2px 6px rgba(1, 0, 0, 0.9) !important;*/

}

.StrLabel_Top {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        font-size: .75rem;
        border-color: none !important;
        border:none !important;
        color: #fff;
        background-color: #ffffff;
        background-color: #fff;
        justify-content: center;
        padding: calc(.375em - 1px) .75em;
/*        background: #0D2E56;*/

        background-image: url("images/greyBG.jpg");

}


.StrLabel>p {
    text-align: right;
}

.StrLabel {
/*    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 8px;
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    z-index: 9999999;*/
    /*text-shadow: black 2px 2px 8px !important;*/
    /*  z-index: 2;*/
/*     text-shadow: rgba(0,0,0,0.7) 0px 1px 8px !important;*/


/*    border-radius: 2px;
    font-size: .75rem;
    border-color: #4a4a4a;
    color: #363636;
    background-color: #fff;
    justify-content: center;
    padding: calc(.375em - 1px) .75em;*/




/*
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    font-size: .75rem;
    border-color: #4a4a4a;
    color: #363636;
    background-color: #fff;
    justify-content: center;
    padding: calc(.375em - 1px) .75em;
*/



/*    border-radius: 0px !important;*/
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 2px !important;
    font-size: .75rem;
    border-color: #4a4a4a;
/*    color: #363636;*/
/*        color: #999;*/
/*        color: #333;*/
        color: #3d3d3d;
/*    color: #555555;*/

/*    color: #fff;*/
    /*background-color: rgb(17, 63, 112);*/
    background-color: #ffffff;
    justify-content: center;
    padding: calc(.375em - 1px) .75em;

/*background-color: #ffffff;*/
/*    border-bottom: 2px solid rgb(37, 83, 132);
*/


/*    color: rgb(17, 63, 112);*/
/*    border-bottom: 2px solid rgb(37, 83, 132);*/

/*        background: #0D2E56;*/

        background-image: url("images/greyBG.jpg");


/*        font-family: Lato, 'Noto Sans', sans-serif;*/
        letter-spacing: -.0323em;
/*        font-style: normal;*/
/*            font-size: 12px;*/
/*        font-size: 19px;*/
font-weight: 400;
font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;

        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;

    text-shadow: 0 1px 1px #fff;

    padding-right:10px;


}


/* streetview panorama img style */
#pano {
/*    width: 388px; 
    height: 88px;
    margin-left:-2px;*/




    width: 386px; 
    height: 88px;


}



#streetCard {
/*    border-radius: 0px !important;
    margin-top: 4px;
    padding: 3px;
    background-image: url("images/greyBG.jpg");
    height: 94px;*/


/*    border-radius: 0px !important;
    margin-top: 4px;
    padding: 3px;
    background-image: url("images/greyBG.jpg");
    height: 94px;*/




    border-radius: 0px !important;
/*    background-image: url("images/greyBG.jpg");*/
    margin-top: 4px;
/*    padding: 3px;
    background-image: url("images/greyBG.jpg");
    height: 94px;*/

/*        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;*/

/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;*/

}
/**[@id="pano"]/div[2]
*/
/*#pano>div:nth-child(2) { 
    display: none;
 }
 div#pano div:nth-child(2) {
        display: none;
 }*/
/* div#pano div.gm-style>div:nth-child(2) {
        display: none;
        font-size:0px !important;
        background-color:transparent !important;
        color:black !important;
 }*/




.streetCard {
    border-radius: 1px;
    margin-top: 7px;
    margin-left: 2px;
    padding: 3px;
    background-color: white;
}

.glyphicon-chevron-right {
    color: gray;
}

/* Google Streeview Settings */

.gm-style>div:nth-child(2) {
    display: none;
}

.gm-style>div:nth-child(3) {
    display: none;
}
.gm-style>div:nth-child(4) {
    display: none;
}
.gm-style>div:nth-child(5) {
    display: none;
}
.gm-style>div:nth-child(6) {
    margin: -1px !important;
    cursor: pointer;
    display: none;
}
.gm-style>div:nth-child(7) {
    display: none;
}
.gm-style>div:nth-child(8) {
    display: none;
}


.gm-style>div:nth-child(10) {
    display: none;
}
.gm-style>div:nth-child(12) {
    display: none;
}
.gm-style>div:nth-child(13) {
    display: none;
}
.gm-style {
    /*transition: background .3s ease !important;*/

}

.gm-style>button {
    /*display: none;*/
    /*    padding: 10px 15px 10px 10px !important;*/
    /*    border: white !important;
        background-color: white !important;*/
    /*    color: white !important;*/
    /*background-image:50px;*/
/*    background-position: -5px -5px !important;*/


/*background: #fff;
border-radius: 3px !important;
transition: background .3s ease !important;
margin-right:5px !important;
margin-top:5px !important;
border: 0 !important;
padding:10px !important;*/


/*margin-bottom:-50px !important;*/
/*margin-top:72px !important;*/






/*background: #fff;
border-radius: 3px !important;
transition: background .3s ease !important;
margin-right:5px !important;
margin-top:58px !important;
border: 5 !important;
padding:10px !important;
z-index: 9;
*/
/*transition: background .3s ease !important;*/





/*background: transparent !important;
font-color: #fff !important;
border-radius: 3px !important;
margin-right:5px !important;
margin-top:58px !important;
border: 5 !important;
padding:10px !important;
z-index: 9;
outline:none !important;
border:none !important;
border: white !important;*/




/* updated */
/*background: transparent !important;*/
font-color: #fff !important;
border-radius: 3px !important;
margin-right:5px !important;
margin-top:58px !important;
border: 5 !important;
padding:10px !important;
z-index: 9;
outline:none !important;
border:none !important;
border: white !important;
opacity:.5;



}


.gm-style>button>img {
    /*white expand */
/*    margin-left:-52px !important;*/

    /*mobile expand */
/*    margin-left:-133px !important;*/


/*    height: 147px !important;*/
    /*height: 147px !important;*/
/*    right: 147px !important;*/
    /*background-position: -5px -288px !important;*/
    /*background-position: -5px -300px !important;*/
}


/*.gmnoprint .gm-style-cc {
        display: none;

}*/




















/* --------------------- Search --------------------- */

/* Main Search - search-form -  placeholder text style */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-weight: 600 !important;
    background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
    Opacity: .4 !important;
    color: #696969 !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-weight: 600 !important;
    background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
    Opacity: .4 !important;
    color: #696969 !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-weight: 600 !important;
    color: #c7c9cc !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-weight: 600 !important;
    background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
    Opacity: .4 !important;
    color: #696969 !important;
}




/* Search Form */

input#search-form {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0;
    font-size: 19px;
    -webkit-font-smoothing: antialiased;
}

#search-form ul {
    width: 100%;
    cursor: pointer;
    z-index: 9999999 !important;
}

#search-form li {
    z-index: 9999999 !important;
}


/* IE searchbox height specific */

#search-holder {
    margin-left: -3px;
}


#tester .input-group {
    background-color: black !important;
}

.navbar-form {
    margin-top: 0px !important;
    border: 0px !important;
    box-shadow: none;

    background-color: transparent !important;
}



/* Search Modern Style (incl searchBtn) */

/* transforming the header and toggle buttons for side panel collapse */

.headerAdjust {
    background-color: white !important;
    color: rgb(17, 63, 112);
    border-bottom: 2px solid rgb(37, 83, 132);
    margin-top: -57px;
    height: 49px;
    z-index: 999999999 !important;
}

.toggleAdjust {
    margin-right: 8px;
    margin-top: 2px !important;

    font-size: 1.1em !important;
}

.searchBtnAdjust {

}

/* custom transforms */

.titleAdjust {
    display: none !important;
}

.searchFormAdjust {
    margin-right: 171px !important;
}

#searchBtn {
    border-radius: 0px;
}

#tester>input {
    /* use this for search box */
    /*      box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);*/
    /*border: 0px !important;*/
}

#search-form {

    /*margin-left:-29px;*/
    outline: 0 !important;
    /*transition: .3s ease all;*/
    letter-spacing: 0;
    background: #FFF;
    /*border: 0px solid #cccccc;*/
    border: 0px !important;
    /*border-top: .1px solid rgb(37, 83, 132) !important;*/
    border-radius: 0 !important;
    box-shadow: none;


    /* use this for search box */
    /* add back in at the end of re-model */
    /*      box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);*/
    /* added */
    /*margin-top:0px;*/
    margin-top: 0px;
    height: 49px !important;


    /*padding-right:-220px;
*/
    /*margin-right:50px;*/
    margin-right: -11px;
}

.navbar-inverse .navbar-form {
}

.navbar-inverse {
}









/* --------------------- OW Agent --------------------- */

/* Assistant Input Box */

#assistantInputBox {
    background-image: url('/css/searchicon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
}

#assistantULList_UL li {
    transition: all 0.3s ease-out;

    /* Remove default list styling */
    list-style-type: none !important;
    padding: 0;
    margin: 0;

    padding: 2px;
    /* Add some padding */
    margin-left: -40px;
    !important;
}

#assistantULList_UL li a {
    border-radius: 0px !important;
}

#assistantULList_UL li a.header {}

#assistantULList_UL li a:hover:not(.header) {}









/* --------------------- Animations --------------------- */

/* ng-show / hide animations (ng-Animate) */

/* FADE */

/* ensure visibility during the transition */

.ng-hide-add,
.ng-hide-remove {
    display: block !important;
}

.cssFade {
    right: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.cssFade.ng-hide {
    right: -150px;
    opacity: 0;
}

.blockFade {
    top: 0px;
    right: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.blockFade.ng-hide {
    top: 0px;
    right: 0px;
    opacity: 0;
}















/* --------------------- ETC --------------------- */

#aerialLevel {
    display: inline-block;
    float: left;
    margin-top: -23.65px !important;
    margin-left: 162px !important;
}

#aerialSlider {
    width: 75px !important;
    margin-top: 5px !important;
    margin-left: 6px;
}


/* IE10+ CSS styles go here */

/*@media (-ms-high-contrast: none), (-ms-high-contrast: active) {

margin-top:-40.75px !important;

}*/



/* disable Print As PNG option - future implement */

.ownershipTable td,
tr {
    width: 1px;
    white-space: nowrap;
    height: 8px !important;
}

.ownershipTable {
    margin-bottom: 5px !important;
}

.ownershipTable>tbody>tr>th {
    padding: 6px;
    line-height: 1;
}

.ownershipTable>tbody>tr>td {
    padding: 6px;
    line-height: 1;
}

.ownershipFilter {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #ddd;
    margin-bottom: 3px;
}

#regTab.nav-tabs>li.active>a,
#regTab.nav-tabs>li.active>a:focus,
#regTab.nav-tabs>li.active>a:hover {
    color: #555 !important;
    cursor: default !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-bottom-color: transparent !important;
    border-radius: 0px !important;
}

#regTab.nav-tabs>li>a {
    margin-right: 2px !important;
    line-height: 1 !important;
    border: 1px solid transparent !important;
    cursor: pointer !important;
    border-radius: 0px !important;
}

#regTab.nav>li>a {
    position: relative !important;
    display: block !important;
    padding: 10px 15px !important;
    cursor: pointer !important;
    border-radius: 0px !important;
}




.blue-streak {}
.blue-streak li {

}

/*external list items */

.blue-streak li:hover {
    background: #333 !important;
}
/* internal list items */

.blue-streak a:hover {
    background: #333 !important;
}
.blue-streak a:focus {

}
.dropdown-menu-form>li {

}




/* share nav tabs (pop up modals w/ tabs) */

.share-tabs.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.share-tabs.nav-tabs>li.active>a,
.share-tabs.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.share-tabs.nav-tabs>li>a {
    border: none;
    color: #666;
    cursor: pointer;
}

.share-tabs.nav-tabs>li.active>a,
.share-tabs.nav-tabs>li>a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.share-tabs.nav-tabs>li>a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.share-tabs.nav-tabs>li.active>a::after,
.share-tabs.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.share-pane.tab-pane {
    padding: 15px 0;
}

.share-tab-content.tab-content {
    padding: 20px;
    background-color: #f9f9f9;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.share-container {
    background: #EDECEC;
    padding: 50px
}



/* modal window close icon */

.modalCloseIcon {
    position: absolute;
    top: 7px;
    right: 26px;
    z-index: 99;
    height: 12px;
    width: 12px;
    margin-top: 3px;
    color: gray !important;
    cursor: pointer;
}

.share-link-message {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #808080;
    padding-top: 18px;
}




/* bootstrap modal */

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    overflow-y: auto;
}



/* disabled bootstrap list group items */

.list-group-item.disabled,
.list-group-item.disabled:focus,
.list-group-item.disabled:hover {
    color: #818a91;
    cursor: default;
    background-color: #eceeef;
}




/* Info Block coordinate system drop down */

.coordsDropDown {
    display: inline-block;
    background: #0D2E56 !important;
    background-color: transparent;
    border: 0px;
    font-weight: bold;
}

select::-ms-expand {
    display: none;

    content: "▼";
    font-size: 11px;
    padding: 2px 0px;
    position: absolute;
    right: 10px;
    top: 0;
    text-align: center;
    width: 20%;
    height: 100%;

    pointer-events: none;
    box-sizing: border-box;
}

.customarrow:after {
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 9px;
    right: 22px;
    top: 1.5px;
    padding: 0 0px 0px 4px;
    position: absolute;
    pointer-events: none;
    width: 9%;
}














.coordsDropDownVariant {
    display: inline-block;
    transition: .3s ease all !important;
    color: #DEDEDE  !important;
    font-weight: 300  !important;
/*    padding: 2px 30px  !important;*/
    font-size: 16px  !important;
    transition: .3s ease all  !important;
    -moz-transition: .3s ease all  !important;
    -webkit-transition: .3s ease all  !important;
    line-height: 1.5  !important;
    text-decoration: none!important;
    font-family: 'Open Sans', sans-serif !important;

    background-color: rgb(17, 63, 112) !important;


    padding: 8px 30px 10px 14px !important;



    min-width: 229px;

    cursor: pointer !important;




/*    position: relative;*/
    /*Don't really need this just for demo styling*/
    
/*    float: left;
    min-width: 200px;
    margin: 50px 33%;*/


}

.coordsDropDownVariant select { /* added */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    /*border: 1px solid #0ebeff;*/
    border: 1px solid #DEDEDE;
    -ms-word-break: normal;
    word-break: normal;

    cursor: pointer !important;
}

.customarrowVariant:after {
/*    content: "\f078";
    font-family: "FontAwesome";
    font-size: 14px !important;
    right: 22px;
    top: 1.5px;
    padding: 0 0px 0px 4px;
    position: absolute;
    pointer-events: none;
    width: 9%;
    color: #DEDEDE  !important;
*/



    content: '\f078';
    /*font: normal normal normal 17px/1 FontAwesome;*/
    font: normal normal normal 14px/1 FontAwesome;
    /*color: #0ebeff;*/
    color: #DEDEDE;
    right: 10px;
    top: 7px;
    height: 28px;
/*    padding: 15px 0px 0px 8px;*/
    padding: 6px 4px 0px 8px;
    /*border-left: 1px solid #0ebeff;*/
    border-left: 2px solid #0ebeff;
    border-bottom: 0px solid #0ebeff;
   /* border-left: 2px solid #DEDEDE;*/
/*    border-bottom:1px solid #DEDEDE;*/
    position: absolute;
    pointer-events: none;


}



/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}


















select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 0px 25px 0px 0px;
    border: none;
    text-indent: 2px;
}

select.coordsDropDown {

}










.showBubble:before {
    /*content: "\f3fc";*/
/*    content: "\f075";*/
/*    content: "\f075";*/
/*    content: "\f0e5";*/
content: "\f3fb";
font-weight:bold;
font-size:12px;
/*color:rgb(37, 83, 132);*/
color:#eeeeee;
/*1px solid #eeeeee*/

}



.showBubble, .showWarn, .showImprove {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.showWarn:before {
    content: "\f100";
}
.showImprove:before {
    content: "\f137";
}



.showStatus {
    visibility: visible;
}

.showElement {
    visibility: visible;
}
.hideElement {
    visibility:hidden;
}


/*.cursorHand {
    cursor: pointer;

}*/
.extensibleMessage {
    cursor: pointer;
/*    text-decoration: underline;*/
}



/*.showBubble {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


.showWarning {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
*/





















/* custom webkit scrollbar for intro panel */
.force-overflow
{
    min-height: 100px;
}
#style-3::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*background-color: #F5F5F5;*/
    /*background-color: #000000;*/
    /*background-color: rgb(17, 63, 112);*/
    background-color: transparent;
/*    -webkit-box-shadow: inset 0 0 2px #F5F5F5;*/
/*    border:1px white;*/
/*-webkit-box-shadow: color 0 0 6px rgba(183,231,255,1);*/

/*border-right: 2px solid #F5F5F5;*/
/*border-right: 0px solid #2CA9E1;*/
/*border-right: 2px solid #b7e7ff;*/
/*border-left: 1px solid;*/

/*border-right: 2px solid #F5F5F5;*/
/*border-right: 2px solid #2CA9E1;*/
/*border-right: 2px solid #b7e7ff;*/
/*border-right: 2px solid #aaeeff;*/
border-right: 0px solid #b8dcfc;


/* rgb(183, 231, 255) || #b7e7ff */
/* rgb(198, 236, 255) || #c6ecff */
/* rgb(198, 244, 255) || #c6f4ff */
/* rgb(170, 238, 255) || #aaeeff */

/* rgb(201, 230, 255) || #c9e6ff */
/* rgb(186, 223, 255) || #badfff */

/* rgb(184, 220, 252) || #b8dcfc */


}

#style-3::-webkit-scrollbar
{
    width: 3px;
    /*background-color: #F5F5F5;*/
    /*background-color: #000000;*/
    background-color: transparent;
}

#style-3::-webkit-scrollbar-thumb
{
    /*background-color: #000000;*/
    /*background-color: #F5F5F5;*/
    /*background-color: #2CA9E1;*/
    /*background-color: #b7e7ff;*/
    /*background-color: #2CA9E1;*/
    /*background-color: #b8dcfc;*/
    background-color: #b8dcfc;
}
















/* Valuation chart */
#vlTemp {

    margin-top: -20px;
    margin-bottom: 0px;
    padding:10px;

/*    font-family: 'Open Sans', sans-serif !important;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
        display: block;*/

}

/*#vlTemp > div > div.HistoricalAvmGraphMouseTrackingWrapper > div > div > svg > g:nth-child(4)
{
    stroke:white !important;
}

#vlTemp > div > div.HistoricalAvmGraphMouseTrackingWrapper > div > div > svg > g:nth-child(3)
{
    stroke:white !important;
}

#vlTemp > div > div.HistoricalAvmGraphMouseTrackingWrapper > div > div > svg > g:nth-child(3) > g
{
    stroke:white !important;
}
#vlTemp > div > div.HistoricalAvmGraphMouseTrackingWrapper > div > div > svg > g:nth-child(3) > g > path
{
    stroke:white !important;
}

.HistoricalAvmGraphMouseTrackingWrapper {
    margin-top:5px;
    margin-bottom:5px;
    padding-top:5px;
    background-color:#0D2E56;
}
.HistoricalAvmGraphChart {
    font-style:bold;
}*/

/* */





/* Show more / less */

/* http://jsfiddle.net/santosh_patnala/nFd7C/422/ */
/* https://stackoverflow.com/questions/17736786/jquery-load-first-3-elements-click-load-more-to-display-next-5-elements?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa */

/*#introUpdateList li{
    display:none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}*/











/*#introUpdateList {


    height:200px !important;


    padding-left:0px !important; 
    padding-right:5px !important; 
    list-style: none; 


}

#introUpdateScrollBox {

    height:auto;

    overflow-y: scroll;
    overflow-x: hidden;

}*/










/* custom cross-browser scroll bar for intro element */

/*************** SCROLLBAR BASE CSS ***************/
/*
#introUpdateScrollBox{

      height:auto;

      margin-bottom: 10px;


      overflow-y: scroll;
       overflow-x: hidden;
}


#introUpdateList {
    padding-left:0px !important; 
    padding-right:5px !important; 
    list-style: none; 
}

*/

#introUpdateList {
    padding-left:0px !important; 
/*    padding-right:5px !important; */
    list-style: none; 




    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/

/*    max-width: 1480px;
    overflow-x:hidden;
    height: auto;
    overflow-y:200px;
*/


/*
height: auto;*/



/*background-color: #3498db;*/


}

#intoUpdateContainer {

    /*overflow-y: auto;*/
    overflow: hidden;

    height: 220px;

    /*max-height: auto;*/





    /*border:1px solid rgb(37, 83, 132);*/

/*    border-top:1px solid rgb(37, 83, 132);
    border-bottom:1px solid rgb(37, 83, 132);*/

    /*margin:0px;*/
    margin-top:5px;
    padding-top:5px;
    padding-bottom:5px;


/*    background-color: #f1c40f;*/
}

/*#introUpdateBox{

      height:auto;

      margin-bottom: 10px;


      overflow-y: scroll;
       overflow-x: hidden;
}*/


/* to top button */
/* bottom: 20px; right: 20px;  */
#toTopBtn {
/*    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #3f51b5;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;*/
}
#toTopBtn:hover {
/*    background: #e9ebec;*/
    background: #303f9f;
}
#toTopBtn.show {
    opacity: 1;
}


#toBottomBtn {
/*    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #3f51b5;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;*/



}
#toBottomBtn:hover {
    background: #303f9f;
}
#toBottomBtn.show {
    opacity: 1;
}







.customHR {
/*    border-top:1px solid #0D2E56;*/
/*    border:1px solid rgb(37, 83, 132) !important;
    border-top: 1px solid black !important;*/


/*    border:1px solid rgb(37, 83, 132) !important;
    border-top: 1px solid #0D2E56 !important;*/

/*    border: 1px solid #0D2E56 !important;*/
/*    border-top:2px solid rgb(37, 83, 132) !important;
*/

    

/*    margin-top: 20px;
    margin-bottom: 20px;*/

    margin-top: 10px;
    margin-bottom: 10px;
/*    border: 0;*/

    margin-left:0px;
    width:100%;
}


#scrollUp {
/*    font-size: .9em;
    margin-top: 2px;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    float: right;*/
}



#scrollDown {
/*    font-size: .9em;
    margin-top: 2px;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    float: right;*/
}






.jumbotron {
    padding-top: 0px;
    padding-bottom: 15px;
    /*padding: 30px;*/
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 30px;
}