<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="false">
  <serverUrls>

    <serverUrl url="http://ccgisqa01m.co.clark.nv.us/gisdal/" 
               matchAll="true"</serverUrl>
    <serverUrl url="http://gisgate.co.clark.nv.us/gisdal" 
               matchAll="true"</serverUrl>


  </serverUrls>
  
</ProxyConfig>
