<!DOCTYPE html>
<html lang="en" ng-app="open" ng-controller="mapController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../bootstrap_v3/docs-assets/ico/favicon.png">
    <title>OpenWeb</title>
    <!-- styles: bootstrap-core|esri|bootstrap-map|bootstrap -->
    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://js.arcgis.com/3.19/esri/themes/calcite/dijit/calcite.css">
    <link rel="stylesheet" type="text/css" href="//js.arcgis.com/3.11/esri/css/esri.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrapmap.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <!-- icons|fonts -->
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- font-awesome shim -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css"> -->

<!--     <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" data-prerender="keep" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css" integrity="sha384-ZlNfXjxAqKFWCwMwQFGhmMh3i89dWDnaFU2/VZg9CvsMGA7hXHQsPIqS+JIAmgEq" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->


    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Noto+Sans:300,400,500,700|Open+Sans:300,400,500,700|Roboto:300,400,500,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- overrides -->
    <link rel="stylesheet" type="text/css" href="css/media-queries.css"> <!-- responsive ui -->
    <link rel="stylesheet" type="text/css" href="css/main-style.css"> <!-- main ui -->
    <link rel="stylesheet" type="text/css" href="css/propinfo-style.css"> <!-- propinfo -->
    <link rel="stylesheet" type="text/css" href="css/navbar-style.css"> <!-- navbar -->
    <link rel="stylesheet" type="text/css" href="css/slider-style.css"> <!-- slidemenu -->
    <link rel="stylesheet" type="text/css" href="css/tabs-style.css"> <!-- tabs -->
    <link rel="stylesheet" type="text/css" href="css/html5cntrl-style.css"> <!-- html5 cntrls -->
    <link rel="stylesheet" type="text/css" href="css/loader-style.css"> <!-- loading -->
    <link rel="stylesheet" type="text/css" href="css/tour-style.css"> <!-- bootstrap tour -->
    <!-- custome theme overrides -->
    <link rel="stylesheet" ng-href="css/themes/layout-{{layout}}.css">
    <link rel="stylesheet" ng-href="css/themes/media-queries-{{layout}}.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bootstrap_v3/docs-assets/js/html5shiv.js"></script>
      <script src="../bootstrap_v3/docs-assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> -->
    <!-- <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> -->
  </head>
  <!--**********************************************************************************************************-->
  <!--**********************************************************************************************************-->
  <!--**********************************************************************************************************-->
  <body > <!-- class="bodyAdjust" -->

    <!-- Navbar -->
    <div class='navbar navbar-inverse navbar-fixed-top'>
     <div id="innerNav" class='navbar-inner'>
        <div class='container-fluid'>

          <!-- Navbar Header -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle conditionalShow" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Select Property Window -->
            <sel-property></sel-property>

            <!-- .nav-collapse -->
            <div class="collapse navbar-collapse"> <!-- pull-left --> <!-- <i class="fa fa-wrench"></i>  -->
              <!-- ********************************** -->
              <!-- Future add mobile display options -->
<!--               <ul class="nav navbar-nav">
                <li><a id="displayLink" href="#">Display</a></li>
                <li class="dropdown" > 
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                  <ul class="dropdown-menu alert-dropdown" id="myDropdown">
                    <li><a href="#"><i class="fa fa-hand-o-up" style="margin-right:8px;" ></i>Select Property</a></li>
                    <li><a id="drawLink" href="#"><i class="fa fa-pencil" style="margin-right:8px;" ></i>Draw / Measure</a></li>
                    <li><a href="#"><i class="fa fa-dot-circle-o" style="margin-right:8px;" ></i>Buffer</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-print" style="margin-right:8px;" ></i>Print Map</a></li>
                    <li><a href="#"><i class="fa fa-share-square" style="margin-right:8px;" ></i>Export Map</a></li>
                  </ul>
                </li>
                <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                  <ul class="dropdown-menu collapse" id="myDropdown">
                    <li><a href="#"><i class="fa fa-comments" style="margin-right:8px;" ></i>Comments</a></li>
                    <li><a href="#"><i class="fa fa-users" style="margin-right:8px;" ></i>Survey</a></li>
                    <li><a href="#"><i class="fa fa-list-alt" style="margin-right:8px;" ></i>Show Legend</a></li>
                    <li class="divider"></li>
                    <li><a id="introLink" href="#"><i class="fa fa-info-circle" style="margin-right:8px;" ></i>Introduction</a></li>
                    <li><a href="javascript:window.open('http://gisgate.co.clark.nv.us/gismo/pdf/OpenWebQuickGuide.pdf','mywindowtitle','width=800,height=600')" style="margin-top:2px;">
                      <i class="fa fa-bookmark" style="margin-right:8px;" ></i>Quick Guide</a></li>
                  </ul>
                </li>
              </ul> -->
              <!-- ********************************** -->
            </div><!--/.nav-collapse -->
         </div><!--/.navbar-header -->
      </div><!--/.container-fluid -->
    </div><!--/.navbar-inner -->
    </div><!--/.navbar -->





    <!-- Skinny Panel -->
    <div class="skinnyPanel conditionalShow right-edge-shadow gradient sliderStyle"> <!-- id="skinnyPanel" -->


      <!-- Display View Section -->
      <display-view></display-view>

      <!-- Intro View Section -->
      <!-- <intro-view></intro-view> -->

      <!-- Tools Section -->
<!--       <tools-view></tools-view> -->

      <!-- Resources Section -->
      <resources-view></resources-view>



    </div><!--/Tabs content -->





    </div><!-- /.Slide Panel -->

    <!-- Bootstrap-map-js -->
    <div id="mapDiv">
      <!-- Geolocate -->
      <div id="LocateButton"></div>
      <!-- Measure -->
      <measure-block></measure-block>


      <!-- Map Tool-Tip for drawing tools -->
<!--       <div class="drawtooltip" style="position:absolute; right:20px; top:200px; z-index:999; background:#fff;">Hover over me -->
        <span class="drawtooltiptext"></span>
<!--       </div> -->



<!--       <h1>header</h1>
      <img id="img" src="https://static.pexels.com/photos/6555/nature-sunset-person-woman-large.jpg" />
      <i id="img-tooltip" data-toggle="tooltip" data-placement="right" title="Tooltip for image" data-animation="false" data-trigger="manual"/>
 -->


      <!-- <div id="divtoshow" style="display:none">test</div> -->
<!--       <br><br>
      <span id="spanhovering" style="color:black; background-color:#f8f8f8;">Mouse over this</span> -->

<!-- 
      <div style="position:absolute; right:20px; top:10px; z-Index:999;">
          <div id="measurementDiv"></div>
          <span style="font-size:smaller;padding:5px 5px;">Press <b>CTRL</b> to enable snapping.</span>

 -->
    </div>







    <!-- Main Search -->
    <div class="searchCard searchSize" ng-controller="TypeaheadCtrl"> <!-- col-sm-5 -->

      <div class="searchformcontainer">
      <form class="navbar-form" ng-submit="search(asyncSelected)" class="" id="search-form"> 
            <div id="tester" class="input-group" style="border:none !important;">
              <!-- Hamburger Btn -->
              <span id="searchBtn-holder2" class="input-group-btn">
                   <button id="hamburgerBtn" class="btn btn-primary" type="button">
                     <!-- ionic -->
                     <span class="iconic-adjust-main ion-navicon-round" data-pack="default" data-tags="magnifying glass"></span>
                   </button>
              </span>

              <input id="search-form" placeholder="Search OpenWeb" autofocus autocomplete="off" type="text" class="form-control closeIcon" 
                ng-keyup="keyUp($event, $index, asyncSelected)" 
                ng-change="updateSync($index)"
                ng-model="asyncSelected"
                typeahead-on-select='onSelect($item, $model, $label)'
                typeahead-focus-first="false"
                typeahead-template-url="views/tempAutocomplete.html"
                typeahead="address for address in getLocation($viewValue) | filter:$viewValue"
                typeahead-loading="loadingLocations" 
                typeahead-min-length="3" >  

              <!-- Close Icon -->
              <img id="closeIcon" border="0" src="css/images/icon-close2.png">
              <!-- Search Btn -->
               <span id="searchBtn-holder" class="input-group-btn">
                    <button id="searchBtn" class="btn btn-primary" type="button">
                      <!-- ionic -->
                      <span class="iconic-adjust-main ion-search" data-pack="default" data-tags="magnifying glass"></span>
                    </button>
               </span>
            </div> <!-- /tester -->
        </form>
      </div> <!--/searchformcontainer-->

    </div>



    


    <!-- Omnibar -->
    <div class="omnibarcontainer" > 

      <ul class="list-group cardList">
        <li class=""></li>
        <li class=""><sel-prop></sel-prop></li>
        <li class="">           </li>
        <li class="">           </li>
        <li class=""><info-card></info-card></li>
        <li class="" ><!-- <weather-card></weather-card> --></li>
        <li class="">      
          <a style="font-size: 85% !important;" class="introPaneTextSubset feedbackBlurb" style="" href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/feedback/form.html"> <br> <i class="icon ion-thumbsup"></i> | Your feedback helps improve OpenWeb   </a>




<!--           <div id="block-system-main-menu">
              <ul class="menu">
                  <li>
                      <a title="HERE ABC" >ABC</a>
                  </li>
                  <li>
                      <a title="HERE DEF" >DEF</a>
                  </li>
              </ul>
          </div>
 -->


<!--             <div style='position:absolute:top:0px;left:0px; z-index:999999; background-color:black;'>
 -->




<!--            <div title="regular drawingTooltip">Hover me</div>

           <a class="drawingTooltip" href="http://www.google.com/">
               Google
               <span id="drawingTooltip-span">
                   <img alt="" src="http://www.google.com/images/srpr/logo4w.png" />
               </span>
           </a>
 -->


<!--            <div title="regular drawingTooltip">Hover me</div>

           <a class="drawingTooltip" href="http://www.google.com/">
               Google
               <span>
                   <img alt="" src="http://www.google.com/images/srpr/logo4w.png" />
               </span>
           </a>
           <br /><br />
           &nbsp;&nbsp;

           <a class="drawingTooltip" href="http://www.google.com/">
               Another one
               <span>
                   <img alt="" src="http://www.google.com/images/srpr/logo4w.png" />
               </span>
           </a> -->











<!--            <div id="divtoshow" style="display:none">test</div>
           <br><br>
           <span id="spanhovering">Mouse over this</span> -->



<!--            </div>
 -->





        </li>


        <li class="">    <!-- <button id="clear" data-dojo-type="dijit.form.Button">Clear Graphics</button> -->  </li>

      </ul>



    </div> <!--/.Omnibar -->

    <!-- hideBarShowBar -->
    <div class="hideShowBar" ng-click="toggleHiddenState()"  > 
          <a style="" class="hideShowBlurb" style="" href=""  > <i class="ion-chevron-up" style="margin-left:20px;">&nbsp;&nbsp;</i> &nbsp; Hide </a> 
    </div>







    <!-- Disclaimer -->
    <disclaim-block></disclaim-block>
    <!-- Share/Embed -->
    <share-block></share-block>
    <!-- Export -->
    <export-block></export-block>
    <!-- Help Assistant -->
    <assistant-block></assistant-block>
    <!-- InfoBlock (incl. tabs) -->
    <!-- <info-block></info-block> -->
    <!-- Tool -->
    <tool-block></tool-block>
    <!-- Legend -->
    <leg-block></leg-block>
    <!-- Weather -->
    <weather-block></weather-block>
    <!-- Valuation -->
    <valuation-block></valuation-block>

    <!-- Inactive Overlay -->
    <div class="inactiveOverlay">
    </div>

    <!-- Loading Screen -->
    <div id="loading">
          <div id="loading-image" class="loader"></div>
    </div>





    <!--**********************************************************************************************************-->
    <!--**********************************************************************************************************-->
    <!--**********************************************************************************************************-->
    <!-- vendor libs -->
    <script src="http://localhost:35729/livereload.js"></script> <!-- livereload -->
    <script src="js/lib/dojo-config.js"></script> <!-- dojo config -->
    <script src="//js.arcgis.com/3.11/"></script> <!-- esri -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script> <!-- angular -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script> <!-- angular: uiBootstrap -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script> <!-- jquery -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0snxr42vLcUDQ0W4WBmn4ROEMWDYmfG0"></script> <!-- g.api -->
    <!-- ui libs -->
    <script src="js/lib/bootstrap.min.js"></script> <!-- bootstrap -->
    <script src="js/lib/bootstrap-tour.js"></script> <!-- bootstrap tour -->
    <script src="js/lib/jqueryui-1.10.4.min.js"></script> <!-- jqueryUI -->
    <!-- script imports -->
    <script src="js/app/map.js"></script> <!-- map -->
    <script src="js/app/ai.js"></script> <!-- ai -->
    <script src="js/app/slidemenu.js"></script> <!-- slidemenu -->
    <script src="js/app/modernizr.custom.js"></script> <!-- slidemenu depen. -->
    <script src="js/app/display.js"></script> <!-- display -->
    <script src="js/app/layout.js"></script> <!-- layout -->
    <script src="js/app/services/factory.js"></script> <!-- factory --> 
    <script src="js/app/controllers/controllers.js"></script> <!-- controller -->
    <script src="js/app/directives/dirDisclaimer.js"></script> <!-- directive -->
    <script src="js/app/directives/dirShare.js"></script> <!-- directive -->
    <script src="js/app/directives/dirExport.js"></script> <!-- directive -->
    <script src="js/app/directives/dirAssistant.js"></script> <!-- directive -->
    <script src="js/app/directives/dirIntroduction.js"></script> <!-- directive -->
    <script src="js/app/directives/dirDisplay.js"></script> <!-- directive -->
    <!-- <script src="js/app/directives/dirTools.js"></script> --> <!-- directive -->
    <script src="js/app/directives/dirTool.js"></script> <!-- directive -->
    <script src="js/app/directives/dirResources.js"></script> <!-- directive -->
    <script src="js/app/directives/dirInformation.js"></script> <!-- directive -->
    <!-- <script src="js/app/directives/dirSelectProp.js"></script> --> <!-- directive -->
    <script src="js/app/directives/dirSelProp.js"></script> <!-- directive -->
    <script src="js/app/directives/dirLegend.js"></script> <!-- directive -->
    <script src="js/app/directives/dirWeather.js"></script> <!-- directive -->
    <script src="js/app/directives/dirMeasure.js"></script> <!-- directive -->
    <script src="js/app/directives/dirValuation.js"></script> <!-- directive -->
    <!-- move to directive -->
    <script>
     $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33526539-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-33526539-2');
    </script>
  </body>
</html>