

<div class='infoBlock conditionalShow' >

   <!-- tabs -->
   <div id="mainTabs" class="tabs-below">
       <ul class="nav nav-tabs theMainTabs"> 

<!--                <li class="active"><a id="tackTab" href="#a" data-toggle="tab" data-placement="bottom" class="tip"><i style="margin-left:1px !important;" class="custom-icon-2 icon-pin slide-icons">&#xe801;</i></a></li>
               <li><a id="compassTab" href="#b" data-toggle="tab" data-placement="bottom" class="tip"><i style="margin-left:1px !important;" class="custom-icon-2 icon-map slide-icons">&#xe808;</i></a></li>
               <li><a id="pencilTab" href="#c" data-toggle="tab" data-placement="bottom" class="tip"><i style="margin-left:1px !important;" class="fa fa-pencil fa-4 slide-icons"></i></a></li>
               <li><a id="gearTab" href="#d" data-toggle="tab" data-placement="bottom" class="tip"><i style="margin-left:1px !important;" class="custom-icon-2 icon-cog-1 slide-icons">&#xe807;</i></a></li> -->

<!--                <li class="active" ng-click="select($index)" ng-class="{sel: $index == selected}"><a id="tackTab" href="#a" data-toggle="tab" data-placement="bottom" title="Intro"><i style="margin-left:1px !important;" class="custom-icon-2 icon-pin slide-icons tip">&#xe801;</i></a></li>
               <li ng-click="select($index)" ng-class="{sel: $index == selected}"><a id="compassTab" href="#b" data-toggle="tab" data-placement="bottom" title="Display"><i style="margin-left:1px !important;" class="custom-icon-2 icon-map slide-icons tip">&#xe808;</i></a></li>
               <li ng-click="select($index)" ng-class="{sel: $index == selected}"><a id="pencilTab" href="#c" data-toggle="tab" data-placement="bottom" title="Tools"><i style="margin-left:1px !important;" class="fa fa-pencil fa-4 slide-icons tip"></i></a></li>
               <li ng-click="select($index)" ng-class="{sel: $index == selected}"><a id="gearTab" href="#d" data-toggle="tab" data-placement="bottom" title="Resources"><i style="margin-left:1px !important;" class="custom-icon-2 icon-cog-1 slide-icons tip">&#xe807;</i></a></li> -->

               <!--    <button title="Reset Pricing" type="button"
                          class="btn btn-mini resetPrice"
                          data-placement='bottom'>
                      <i class="icon-refresh"></i>
                  </button> -->


<!--                   <li class="tackLi active" ng-click="saveTab($event)"><a id="tackTab" href="#a" data-toggle="tab" data-placement="bottom" title="Intro"><i style="margin-left:1px !important;" class="custom-icon-2 icon-pin slide-icons tip">&#xe801;</i></a></li>
                  <li class="compassLi" ng-click="saveTab($event)"><a id="compassTab" href="#b" data-toggle="tab" data-placement="bottom" title="Display"><i style="margin-left:1px !important;" class="custom-icon-2 icon-map slide-icons tip">&#xe808;</i></a></li>
                  <li class="pencilLi" ng-click="saveTab($event)"><a id="pencilTab" href="#c" data-toggle="tab" data-placement="bottom" title="Tools"><i style="margin-left:1px !important;" class="fa fa-pencil fa-4 slide-icons tip"></i></a></li>
                  <li class="gearLi" ng-click="saveTab($event)"><a id="gearTab" href="#d" data-toggle="tab" data-placement="bottom" title="Resources"><i style="margin-left:1px !important;" class="custom-icon-2 icon-cog-1 slide-icons tip">&#xe807;</i></a></li> -->

<!--                   <li class="tackLi active" ng-click="saveMainTab($event)"><a id="tackTab" href="#a" data-toggle="tab" data-placement="bottom" title="Intro"><i style="margin-left:1px !important;" class="custom-icon-2 icon-pin slide-icons tip">&#xe801;</i></a></li>
                  <li class="compassLi" ng-click="saveMainTab($event)"><a id="compassTab" href="#b" data-toggle="tab" data-placement="bottom" title="Display"><i style="margin-left:1px !important;" class="custom-icon-2 icon-map slide-icons tip">&#xe808;</i></a></li>
                  <li class="pencilLi" ng-click="saveMainTab($event)"><a id="pencilTab" href="#c" data-toggle="tab" data-placement="bottom" title="Tools"><i style="margin-left:1px !important;" class="fa fa-pencil fa-4 slide-icons tip"></i></a></li>
                  <li class="gearLi" ng-click="saveMainTab($event)"><a id="gearTab" href="#d" data-toggle="tab" data-placement="bottom" title="Resources"><i style="margin-left:1px !important;" class="custom-icon-2 icon-cog-1 slide-icons tip">&#xe807;</i></a></li> -->


                  <li class="tackLi active" ng-click="saveMainTab($event)"><a id="tackTab" href="#introTab" data-toggle="tab" data-placement="bottom" title="Intro"><i style="margin-left:1px !important;" class="custom-icon-2 icon-pin slide-icons tip">&#xe801;</i></a></li>
                  <li class="compassLi" ng-click="saveMainTab($event)"><a id="compassTab" href="#displayTab" data-toggle="tab" data-placement="bottom" title="Display"><i style="margin-left:1px !important;" class="custom-icon-2 icon-map slide-icons tip">&#xe808;</i></a></li>
                  <li class="pencilLi" ng-click="saveMainTab($event)"><a id="pencilTab" href="#toolsTab" data-toggle="tab" data-placement="bottom" title="Tools"><i style="margin-left:1px !important;" class="fa fa-pencil fa-4 slide-icons tip"></i></a></li>
                  <li class="gearLi" ng-click="saveMainTab($event)"><a id="gearTab" href="#resourcesTab" data-toggle="tab" data-placement="bottom" title="Resources"><i style="margin-left:1px !important;" class="custom-icon-2 icon-cog-1 slide-icons tip">&#xe807;</i></a></li>



                  


      
       </ul>
   </div>


   <script>
   <!-- http://getbootstrap.com/javascript/#static-tooltip -->
   $(function() {
       $('.tip').tooltip();
   });
   </script>

       <script>
       // $(document).ready(function(){
       //     $('[data-toggle="tooltip"]').tooltip();   
       // });
       // $(function() {
       //     $('.resetPrice').tooltip();
       // });

   // $('[data-toggle=tooltip]').tooltip();



   // $(function() {
   //     $('[title]').attr("data-rel", "tooltip");
   //     $("[data-rel='tooltip']")
   //         .attr("data-placement", "top")
   //         .attr("data-content", function() {
   //             return $(this).attr("title")
   //         })
   //         .removeAttr('title');


   //     var showPopover = function() {
   //         $(this).popover('show');
   //     };
   //     var hidePopover = function() {
   //         $(this).popover('hide');
   //     };
   //     $("[data-rel='tooltip']").popover({
   //         trigger: 'manual'
   //     }).click(showPopover).hover(showPopover, hidePopover);

   // });


       </script>




      <div class='cards-strong' >

<!--               <div class="container">
                <h3>Tooltip Example</h3>
                <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
              </div>

              <button title="Reset Pricing" type="button"
                      class="btn btn-mini resetPrice"
                      data-placement='bottom'>
                  <i class="icon-refresh"></i>
              </button>
         -->




<!--         <p><b>Current Tool:</b> Select Property</p>  -->

      
      <!-- http://stackoverflow.com/questions/22016565/get-value-when-selected-ng-option-changes -->

      <p><b>Current Tool:</b> <span id="currentToolTag">Select Property</span></p> 


<!--       <div class="dropdown">
        <b>Coords in </b>
        <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-model="coordSelected" ng-change="changeCoords(coordSelected)">
          <option value="stateplaneft">State Plane ft. </option>
          <option value="latlong">Lat / Long</option>
        </select>
      </div> -->

<!--       <div class="dropdown">
        <b>Coords in </b>
        <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-model="selectedItem" ng-change="update()" ng-options="size as size.name for size in sizes" >
          <option value="stateplaneft">State Plane ft. </option>
          <option value="latlong">Lat / Long</option>
        </select>
      </div> -->

<!--         <div>
        <select ng-options="size as size.name for size in sizes " ng-model="item" ng-change="update()"></select>
       {{item.code}} {{item.name}}
     </div> -->




      <!-- last working -->

<!--      <div class="dropdown">
       <b>Coords in </b>
       <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-init="coordSelected = options[1]" ng-model="coordSelected" ng-change="changeCoords(coordSelected)">
         <option value="stateplaneft" selected="selected">State Plane ft. </option>
         <option value="latlong">Lat / Long</option>
       </select>
     </div> -->

<!--      <div class="dropdown">
       <b>Coords in </b>
       <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-model="coordSelected" ng-init="coordSelected = coordSelected || 'Select One'"  ng-options="option.value as option.name for option in options" ng-change="changeCoords(coordSelected)">
         <option value="stateplaneft" selected="selected">State Plane ft. </option>
         <option value="latlong">Lat / Long</option>
       </select>
     </div> -->

     <div class="dropdown">
        <b>Coords in </b>
        <select class="coordsDropDown" ng-model="selectedOption" ng-options="coordOption.name for coordOption in coordOptions" ng-change="changeCoords(selectedOption)">
<!--           <option value="stateplaneft" selected="selected">State Plane ft. </option>
          <option value="latlong">Lat / Long</option> -->
        </select>
      </div>




<!-- 
     <div class="dropdown">
       <b>Coords in </b>
       <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-model="blisterPackTemplateSelected" ng-change="changedValue(blisterPackTemplateSelected)" data-ng-options="blisterPackTemplate as blisterPackTemplate.name for blisterPackTemplate in blisterPackTemplates" ng-init="somethingHere = options[1]">
            <option value="">State Plane ft.</option>
            <option value="">State Plane ft.2</option>
        </select>
     </div>
 -->








<!--       <div class="dropdown">
        <b>Coordinates in </b>
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">Drop
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">State Plane ft</a></li>
          <li><a href="#">Lat / Long</a></li>
        </ul>
      </div> -->

        <!-- <p style='width:0 auto; margin-top:-4px; font-weight:bold !important;' ><b>Coordinates in State Plane ft</b></p>  -->



<!--         <p style='width:0 auto; margin-top:-4px; font-weight:bold !important; display:inline-block;' ><b>Coordinates in 
          <select style="display:inline-block;">
            <option value="stateplaneft">State Plane ft</option>
            <option value="latlong">Lat / Long</option>
          </select>
        </b></p> -->

<!--         <div class="dropdown">
          <b>Coordinates in </b>
          <button class="btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Drop
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">State Plane ft</a></li>
            <li><a href="#">Lat / Long</a></li>
          </ul>
        </div> -->

      


        <table style='border:0px; width:auto; margin-top:-4px !important; margin-bottom:5px !important;'>

          <tr>

            <td style='font-size:12px; padding-top:6px; padding-bottom:6px;' id='showX'></td> 
            <td style='font-size:12px; padding-top:6px; padding-bottom:6px; padding-left:5px;' id='showY'></td>  

<!--             <td style='font-size:12px; padding-top:6px; padding-bottom:6px;' id='showX'>{{thePointX}}</td> 
            <td style='font-size:12px; padding-top:6px; padding-bottom:6px; padding-left:5px;' id='showY' ng-model="thePoint.Y"></td>   -->


            <!-- showX.innerHTML = "<b>X: </b>" + $scope.thePoint.X; -->

          </tr> 
        </table> 

        <p style="margin-top:-10px !important;"><b>Flight Date:</b> <span id="currentFlightTag">Most Current Flight</span></p> 

        <p><b>Current View: </b><span id="currentViewTag">Assessor Map</span></p> 

        <p>1: 8,000</p> 

      </div> 

    </div>