

   <div id='PropInfoDialog' title='Select Property' class='conditionalShow' ng-controller='accordionCtrl'>

   <!-- ionic icons: http://ionicons.com/ -->


             <!-- Accordion -->
              <div class='accordionStyleNew'>
                <accordion close-others='oneAtATime'>

                 <!-- Property Information -->
                 <accordion-group is-open="status.open0" is-disabled='status.open0D' style="z-index:11 !important; margin-bottom:-4px !important;" class="spG1">
                     <accordion-heading>
                        <div>

                        <!-- iconic -->
                        <span class="iconic-adjust-11 ion-information-circled" data-pack="default" data-tags="help, more, tooltip"></span>

                        <!-- <span class="ion-ios-information" data-pack="ios" data-tags="help, question"></span> -->

                        <!-- <span class="ion-ios-information-outline" data-pack="ios" data-tags="help, question"></span> -->




                        <!-- <i class="ion-ios-information-outline" data-pack="ios" data-tags="help, question"></i> -->

                        <!-- <i class="fa fa-fw" aria-hidden="true" title="Copy to use info-circle" style="margin-left:-5px !important; font-size: 14px; font-weight:300 !important;"></i> -->
                         Property Information <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open0, 'glyphicon-chevron-right': !status.open0}"></i> -->
                        </div>
                     </accordion-heading>


                    <!-- Print Friendly Link -->
                     <!-- <a href="" >Print Friendly View</a> -->








                     <!-- <span id="printQueingTag" style="float:right; font-weight:bold; padding:15px; background-color:black;"> -->
                     
<!--                      <span class="iconic-adjust-11 ion-printer" data-pack="default" data-tags="paper"></span>

                     <div id="loading2">
                        <div id="loading-image2" class="loader2"></div>
                     </div> -->
 <!--                     <div id="loading2">
                        <div id="loading-image2" class="loader2"></div>
                     </div> -->
<!--                      </span> -->






                     <!-- Print Friendly Link -->
<!--                      <a id="printFriendlyInitLink" href='' target="_blank" style="float:right; font-weight:bold; padding:3px;">
                     <a id="printFriendlyReadyLink" href='' target="_blank" style="float:right; font-weight:bold; padding:3px;"> -->




                     <!-- Print Init Link -->
                     <a id="printInitLink" href='' target="_blank" style="float:right; font-weight:bold; padding:3px;">
                        <span class="iconic-adjust-11 ion-printer" data-pack="default" data-tags="paper"></span>
                          <span id="printInitTag">Print</span>
                     </a>

                     <!-- Print Loading Element -->
                     <span id="printLoadingTag"  style="float:right; ">
                        <div id="loading-image2" class="loader2"></div>
                     </span>


                     <!-- Print Friendly Link -->
                     <a id="printFriendlyLink" href='' target="_blank" style="float:right; font-weight:bold; padding:3px;">
                        <span class="iconic-adjust-11 ion-printer" data-pack="default" data-tags="paper"></span>
                          <span id="printReadyTag">Ready</span>
                      </a>





                                            <!-- <span id="printQueuingTag">Queuing</span>
                       -->
                      <!--                       <div id="printQueuingTag"><div id="loading2">
                                               <div id="loading-image2" class="loader2"></div>
                                            </div></div> -->



                                            <!-- Print Loading Element -->
                      <!--                       <div id="loading2">
                                               <div id="loading-image2" class="loader2"></div>
                                            </div> -->

                                            <!-- Print Ready Tag -->
                                            <!-- <span id="printReadyTag" >Print</span> -->



                      <!--                       <span id="printQueingTag" >Queuing</span>
                                            <span id="printReadyTag" >Print</span> -->



                                            <!-- Testing Print re-direct link -->
                                            <!-- <a href="" target="_blank" style="float:right; font-weight:bold; padding:3px;">Print Redirect Test</a> -->
                      <!--                       <a id="printRedirectLink" href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/print/form.html" target="_blank" style="float:right; font-weight:bold; padding:3px;" >Print</a>
                                            </br></br> -->




















                     <!-- <span class="iconic-adjust-11 ion-printer" data-pack="default" data-tags="paper"></span> -->




                     <p class="spF1"><b>Parcel:</b> {{attr.parcel}}</p>
                     <p class="spF2"><b>Owner Name(s):</b> {{data.OwnerName}}</p>
                     <p class="spF3"><b>Site Address:</b> {{data.SiteAddress}}</p>
                     <p class="spF4"><b>Jurisdiction:</b> {{zoning.jurisdiction}} - {{data.ZipCode}}</p>
                     <p class="spF5"><b>Sale Date:</b> {{data.SaleDate}}</p>
                     <!-- {{formatDate1(dateData, "dd MMM yyyy")}} -->

         <!--             <p><b>Sale Price:</b> {{data.SalePrice | currency:"$":0 }}</p> -->
                     <p class="spF6"><b>Sale Price:</b> {{data.SalePrice}}</p>


                     <p class="spF7"><b>Estimated Lot Size:</b> {{data.CalcAcres}}</p>
                     <p class="spF8"><b>Construction Year:</b> {{data.ConsructionYear}}</p>
                     <p class="spF9"><b>Recorded Doc Number:</b> 
                       <a class="infoLinks" target="_blank" href='http://gisgate.co.clark.nv.us/assessor/webimages/default.asp?appID=1&txtdocNum={{data.DocNumber}}'>{{data.DocNumber}}</a>
                     </p>
                     <p class="spF10"><b>Aerial Flight Date:</b> {{aerialDate}}</p>
                 </accordion-group>

                 <!-- Zoning and PLU -->
                 <accordion-group is-open="status.open1" is-disabled='status.open1D' style="z-index:10 !important; margin-bottom:-4px !important;" class="spG2">
                     <accordion-heading >
                        <div>



                        <!-- ionic -->
                        <span class="iconic-adjust-11 ion-crop" data-pack="default" data-tags="images, levels, light, dark, settings"></span>

                        <!-- <span class="ion-ios-bookmarks" data-pack="ios" data-tags="favorite"></span> -->

                        <!-- alternate zoning plu -->
                        <!-- <li class="ion-ios-crop-strong" data-pack="ios" data-tags="camera, picture, edit"></li> -->



<!--                         <img src="/open-iconic/svg/icon-name.svg" alt="icon name"> -->



                          <!-- <span class="oi oi-icon-name" title="icon name" aria-hidden="true"></span> -->

<!--                         <span class="oi oi-book"></span> -->

<!--                         <div class="icon-container"><svg viewBox="0 0 8 8" class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#book"></use></svg></div>

                        <i class="ion-ios-book" data-pack="ios" data-tags="favorite, read, literature"></i> -->
                        <!-- <i class="fa fa-fw" aria-hidden="true" title="Copy to use book" style="margin-left:-5px !important; font-size: 14px; font-weight:300 !important;"></i> -->
                         Zoning and Planned Landuse <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i> -->
                        </div>
                     </accordion-heading>
                     <p>
                     <!-- <p><b>Zoning Classification:</b> {{ZonePLU.zoneDescription}}</p>   -->
         <!--              <p>Civic District (C-V)</p>  -->


                     <p><b>Zoning Classification:</b> 
                       <a class="infoLinks" target="_blank" href='{{ZonePLU.ZoneLink}}'>{{zoning.zoneDescription}}</a>
                     </p>

                     <!-- <p><b>Community District:</b> </p> --> <!-- {{CommunityDistrict}}</p> -->



                     <p ><b>Overlay District:</b>   </p> <!-- {{PLU.CommunityDistrict}} --> <!-- ng-show="matchCount==1" -->
                     <p ><b>Planned Landuse:</b>   </p> <!-- {{PLU.CommunityDistrict}} -->
                     <p ng-show="land.length"><b>Land Use Plan Area:</b> <span>{{land.LandUsePlanArea}}</span> </p> 
                     <!-- <p ng-if="q.length === 0"><b>Land Use Plan Area:</b> {{q.LandUsePlanArea}} </p>  --><!-- {{PLU.CommunityDistrict}} --> 
                     <!-- ng-show="!land.LandUsePlanArea" -->


                     <!-- Contests (search active) -->
<!--                      <p ng-show="q" class="quick">
                         <h1>{{q.LandUsePlanArea}}</h1>
                     </p> -->



                     <p><b>Community District:</b> {{PLU.CommunityDistrict}}</p> <!-- {{PLU.CommunityDistrict}} -->




                     <!-- <p><b>Community District:</b> {{PLU.CommunityDistrict}}</p> --> <!-- {{PLU.CommunityDistrict}} -->


                     <!-- </p> -->
                 </accordion-group>

                 <!-- Legal Descr. -->
                 <accordion-group is-open="status.open2" is-disabled='status.open2D' style="z-index:9; margin-bottom:-4px !important;" class="spG3">
                     <accordion-heading>
                        <div>


                        <!-- ionic -->
                        <span class="iconic-adjust-10 ion-ios-paper" data-pack="ios" data-tags="feed, paper"></span>


                        <!-- <i class="fa fa-fw" aria-hidden="true" title="Copy to use legal" style="margin-left:-5px !important; font-size: 14px; font-weight:300 !important;"></i> -->
                         Legal Description <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i> -->
                        </div>
                     </accordion-heading>
                     <p><b>Subdivision Name:</b> {{data.SubName}}</p>
                     <p><b>Book Page:</b> {{data.AssessorBook}} {{data.AssessorPage}}</p>
                     <p><b>Lot Block:</b> {{data.LotBlock}}</p>
                     <p><b>T-R-S:</b> {{data.TownshipRangeSection}}</p>
                     <p><b>Tax District:</b> {{data.taxDistrict}}</p>
                     <p><b>Census Tract:</b> {{ }}</p>
                     </p>
                 </accordion-group>


                  <!-- Ownership -->
                  <accordion-group is-open="status.open3" is-disabled='status.open3D' style="z-index:8; margin-bottom:-4px !important;" class="spG4"> <!-- is-disabled='status.open5' -->
                      <accordion-heading>
                         <div>


                         <!-- iconic -->
                         <span class="iconic-adjust-11 ion-person-stalker" data-pack="default" data-tags="people, human, users, staff"></span>


<!--                          <i class="fa fa-fw" aria-hidden="true" title="Copy to use user-circle-o" style="margin-left:-5px !important; font-size: 14px; font-weight:300 !important;">&#xf2be;</i> -->
<!--                          <i class="fa fa-fw" aria-hidden="true" title="Copy to use group" style="margin-left:-5px !important; font-size: 14px; font-weight:300 !important;"></i> -->
                          Ownership <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open3, 'glyphicon-chevron-right': !status.open3}"></i> -->
                         </div>
                      </accordion-heading>

                      <!-- http://jsfiddle.net/xfw8t/12/ -->



                      <!-- tab -->
<!--                       <ul class="nav nav-tabs" id="regTab">
                        <li class="active">
                          <a data-target="#ownerPane" data-toggle="tab">Owner</a>
                        </li>
                        <li>
                          <a data-target="#trendsPane" data-toggle="tab">Trends</a>
                        </li>
                      </ul> -->

                      <!-- tab content -->
<!--                       <div class="tab-content">
                        <div class="tab-pane active" id="ownerPane"> -->




                            <div style="overflow-x:scroll; max-height:252px; overflow-y: scroll; margin:7px;"> <!-- max-height:252px; overflow-y: scroll; -->

                                  <!-- Repeater template -->
        <!--                               <ul class='dropdown-menu newspaper2 dropdown-menu-form' data-columns="2" style="width:550px !important;">

                                  <li ng-repeat="result in Views| orderBy:'mainName'">

                                    <a href="#">
                                    <input id="{{result.id1}}" class="icon-checkbox ViewChecks" type="checkbox" 
                                    ng-model="result.name3" ng-click="viewChange(result)" /> 
                                    <label for="{{result.id1}}">
                                      <span class='glyphicon glyphicon-none unchecked chkPadding'></span>
                                      <span class='glyphicon glyphicon-ok checked chkPadding'></span>
                                      {{result.mainName}}
                                    </label>

                                  </a>


                                </li>
                              </ul> -->


      <!--                         <div style="width:300px !important;">

                                <span ng-repeat="result in data">

                                  <a href="#">
                                  <input id="{{result.id1}}" class="icon-checkbox ViewChecks" type="checkbox" 
                                  ng-model="result.name3" >
                                    {{data.DocNumber}}
                                </input>


                                </a>


                              </span>
                            </div> -->

      <!--                       $scope.Views = [];

                            var vResults = [];
                            for (var i=0 ; i < viewObj.list.length ; i++)
                            {
                                vResults.push(viewObj.list[i]);
                             }

                            $scope.Views = vResults; -->




      <!--                       <div ng-repeat="result in data | orderBy: 'id' as filtered_result track by model.id"> -->
      <!--                         <div ng-repeat="result in ownershipHist">
                                  <span>{{result.parcel}}</span>
                                  <span>{{result.priorOwners}}</span>
                                  <span>{{result.recordedDate}}</span>
                                  <span>{{result.recordedDocument}}</span>
                                  <span>{{result.taxDistrict}}</span>
                                  <span>{{result.vesting}}</span>
                                  <span>{{result.estimatedSize}}</span>
                              </div> -->




      <!--                               <div ng-init="friends = [
                                  {name:'John', age:25, gender:'boy'},
                                  {name:'Jessie', age:30, gender:'girl'},
                                  {name:'Johanna', age:28, gender:'girl'},
                                  {name:'Joy', age:15, gender:'girl'},
                                  {name:'Mary', age:28, gender:'girl'},
                                  {name:'Peter', age:95, gender:'boy'},
                                  {name:'Sebastian', age:50, gender:'boy'},
                                  {name:'Erika', age:27, gender:'girl'},
                                  {name:'Patrick', age:40, gender:'boy'},
                                  {name:'Samantha', age:60, gender:'girl'}
                                ]">
                                  I have {{friends.length}} friends. They are:
                                  <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends" />
                                  <ul class="example-animate-container">
                                    <li class="animate-repeat" ng-repeat="friend in friends | filter:q as results">
                                      [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
                                    </li>
                                    <li class="animate-repeat" ng-if="results.length == 0">
                                      <strong>No results found...</strong>
                                    </li>
                                  </ul>
                                </div> -->



      <!--                               <div ng-init="friends = [
                                  {name:'John', age:25, gender:'boy'},
                                  {name:'Jessie', age:30, gender:'girl'},
                                  {name:'Johanna', age:28, gender:'girl'},
                                  {name:'Joy', age:15, gender:'girl'},
                                  {name:'Mary', age:28, gender:'girl'},
                                  {name:'Peter', age:95, gender:'boy'},
                                  {name:'Sebastian', age:50, gender:'boy'},
                                  {name:'Erika', age:27, gender:'girl'},
                                  {name:'Patrick', age:40, gender:'boy'},
                                  {name:'Samantha', age:60, gender:'girl'}
                                ]"> -->
      <!--                             I have {{friends.length}} friends. They are: -->
                                  <input class="ownershipFilter" type="search" ng-model="q" placeholder="filter owners..." aria-label="filter owners" />
      <!--                             <ul class="example-animate-container">
                                    <li class="animate-repeat" ng-repeat="result in ownershipHist | filter:q as results">
                                      [{{$index + 1}}] {{result.priorOwners}} who is {{result.parcel}} years old.
                                    </li>
                                    <li class="animate-repeat" ng-if="results.length == 0">
                                      <strong>No results found...</strong>
                                    </li>
                                  </ul> -->
      <!--                           </div> -->




                                <table class='table table-bordered table-striped ownershipTable' > <!--style="table-layout: fixed;" -->
      <!--                             <col width="120">
                                  <col width="320">
                                  <col width="160">
                                  <col width="120">
                                  <col width="80">
                                  <col width="100">
                                  <col width="120"> -->
                                  <tr style="background-color: #f9f9f9; height:5px !important;">
                                    <th style="height:5px !important;">Parcel</th> 
                                    <th style="height:5px !important;">Owners</th> 
                                    <th style="height:5px !important;">Recorded Document</th> 
                                    <th style="height:5px !important;">Recorded Date</th> 
                                    <th style="height:5px !important;">Vesting</th> 
                                    <th style="height:5px !important;">Tax District</th> 
                                    <th style="height:5px !important;">Estimated Size</th> 
                                  </tr>
                                  <tr ng-repeat="result in ownershipHist | filter:q as results"> <!-- ng-repeat="result in ownershipHist" -->

      <!--                               <div ng-repeat="model in collection | orderBy: 'id' as filtered_result track by model.id">
                                        {{model.name}}
                                    </div> -->


                                    <td>{{result.parcel}}</td> <!-- {{attr.parcel}} -->
                                    <td>{{result.priorOwners}}</td> <!-- {{data.OwnerName}} -->
                                    <td>                     
                                     <p>
                                       <a class="infoLinks" target="_blank" href='http://gisgate.co.clark.nv.us/assessor/webimages/default.asp?appID=1&txtdocNum={{result.recordedDocument}}'> {{result.recordedDocument}} </a> 

                                       <!-- {{result.recordedDocument}} -->
                                       <!-- http://gisgate.co.clark.nv.us/assessor/webimages/default.asp?appID=1&txtdocNum={{result.recordedDocument}} -->
                                     </p></td>
                                    <td>{{result.recordedDate}}</td>
                                    <td>{{result.vesting}}</td>
                                    <td>{{result.taxDistrict}}</td>
                                    <td>{{result.estimatedSize}}</td>

                                    <!-- placeholder -->
      <!--                               <td>{{attr.parcel}}</td>
                                    <td>{{data.OwnerName}}</td>
                                    <td>                     
                                     <p>
                                       <a class="infoLinks" target="_blank" href='http://gisgate.co.clark.nv.us/assessor/webimages/default.asp?appID=1&txtdocNum={{data.DocNumber}}'>{{data.DocNumber}}</a>
                                     </p></td>
                                    <td>Sep 24 1992</td>
                                    <td>NS</td>
                                    <td>203</td>
                                    <td>38.80</td> -->
                                  </tr>
                                </table>



                              </div>












<!-- 
                        </div>
                        <div class="tab-pane" id="trendsPane">


                            <iframe id="trendsFrame" style="margin-bottom:6px; margin-right:15px;" width="100%" height="225" src="{{trends | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>

                        </div>
                      </div>

 -->
























                  </accordion-group>


                 <!-- Flood Zone -->
                 <accordion-group is-open="status.open4" is-disabled='status.open4D' style="z-index:7; margin-bottom:-4px !important;" class="spG5">
                     <accordion-heading>
                        <div>

                        <!-- ionic -->
                        <span class="iconic-adjust-8 ion-waterdrop" data-pack="default" data-tags="nature, clean, recycle, fresh, wet, rain"></span>

                        <!-- <i class="fa fa-fw" aria-hidden="true" title="Copy to use tint" style="margin-left:-5px !important; font-size: 14px; font-weight:300 !important;"></i> -->

                         Flood Zone <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open4, 'glyphicon-chevron-right': !status.open4}"></i> -->
                        </div>
                     </accordion-heading>
                     <p><b>FEMA Panel: </b> &nbsp; {{floodZone.FEMAPanel}}</p>  
                     <p><b>Contact: </b> &nbsp; {{floodZone.CityContact}}</p>  
                     <p><b>Jurisdiction: </b> &nbsp; {{floodZone.CityName}}</p>  
                 </accordion-group>

                  <!-- Elected Officials -->
                  <accordion-group is-open="status.open5" is-disabled='status.open5D' style="z-index:6; margin-bottom:-4px !important;"> <!-- is-disabled='status.open5' -->
                      <accordion-heading>
                         <div>

                         <!-- ionic -->
                         <span class="iconic-adjust-10 ion-ribbon-b" data-pack="default" data-tags="competition, compete, win, lose, award, trophy"></span>


                         <!-- <i class="fa fa-fw" aria-hidden="true" title="Copy to use institution" style="margin-left:-5px !important; font-size: 14px; font-weight:300 !important;"></i> -->
                          Elected Officials <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open5, 'glyphicon-chevron-right': !status.open5}"></i> -->
                         </div>
                      </accordion-heading>

                      <p><b>Commissioner: </b> &nbsp; {{elecOfficial.CountyCommissioner}}</p>  
                      <p><b>City Ward: </b> &nbsp; {{elecOfficial.CityWard}}</p>  
                      <p><b>U.S. Senate: </b> &nbsp; {{elecOfficial.Senate}}</p>  
                      <p><b>U.S. Congress: </b> &nbsp; {{elecOfficial.Congress}}</p>  
                      <p><b>State Senate: </b> &nbsp; {{elecOfficial.StateSenate}}</p>  
                      <p><b>State Assembly: </b> &nbsp; {{elecOfficial.StateAssembly}}</p>  
                      <p><b>School District: </b> &nbsp; {{elecOfficial.SchoolBoard}}</p>  
                      <p><b>University Regent: </b> &nbsp; {{elecOfficial.UniversityRegent}}</p>  
                      <p><b>Board of Education: </b> &nbsp; {{elecOfficial.BoardOfEducation}}</p>  
                      <p><b>Minor Civil Division: </b> &nbsp; {{land.MinorCivilDivision}}</p>  

                  </accordion-group>

                   <!-- Links -->
                   <accordion-group is-open="status.open6" is-disabled='status.open6D' style="z-index:5; margin-bottom:-4px !important;" class="spG6"> <!-- is-disabled='status.open5' -->
                       <accordion-heading>
                          <div>

                          <!-- ionic -->
<!--                           <span class="ion-link" data-pack="default" data-tags="chain, anchor, href, attach" style="font-size: 17px;"></span> -->





                          <i class="fa fa-fw" aria-hidden="true" title="Copy to use link" style="margin-left:-6px !important; margin-right:2px !important; font-size: 13px;"></i>
                           Links <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open6, 'glyphicon-chevron-right': !status.open6}"></i> -->
                          </div>
                       </accordion-heading>

                        <!-- Link info -->


               <!--              {{ linkInfo.AssessorInformation }}
                            {{ linkInfo.AssessorParcelmaps }}
                            {{ linkInfo.DocumnetImagingRecords }}
                            {{ linkInfo.ExpansiveSoilGuidelinesLink }}
                            {{ linkInfo.FloodZoneInformation }}
                            {{ linkInfo.RecorderLink }}
                            {{ linkInfo.SoilGuidlinesLink }}
                            {{ linkInfo.TreasurerInformation }} -->

                           <p> <a id="infoLink0" class="infoLinks" target="_blank" href='{{linkInfo.AssessorInformation}}'>Assessor's Information</a>
                           </p>
                           <p> <a id="infoLink1" class="infoLinks" target="_blank" href='{{linkInfo.AssessorParcelmaps}}'>Assessor's Parcel Map</a>
                           </p>
                           <p> <a id="infoLink2" class="infoLinks" target="_blank" href='{{linkInfo.TreasurerInformation}}'>Treasurer's Information</a>
                           </p>
                           <p> <a id="infoLink3" class="infoLinks" target="_blank" href='{{linkInfo.DocumnetImagingRecords}}'>Document Image Records</a>
                           </p>
                           <p> <a id="infoLink8" class="infoLinks" target="_blank" href='{{linkInfo.RecorderLink}}'>Recorder's Office Information</a>
                           </p>
                           <p> <a id="infoLink4" class="infoLinks" target="_blank" href='{{linkInfo.SoilGuidlinesLink}}'>Soil Guidelines Map</a>
                           </p>
                           <p> <a id="infoLink5" class="infoLinks" target="_blank" href='{{linkInfo.ExpansiveSoilGuidelinesLink}}'>Expansive Soil Guidelines Map</a>
                           </p>
                           <p> <a id="infoLink6" class="infoLinks" target="_blank" href='{{linkInfo.FloodZoneInformation}}'>Flood Zone Information</a>
                           </p>
                           <p> <a id="infoLink7" class="infoLinks" target="_blank" href='http://gisgate.co.clark.nv.us/openweb?getparcel={{attr.parcel}}'>Mail Link of Current Parcel</a>
                           </p>

                   </accordion-group>


                   <!-- StreetView -->
                  <div id="streetCard" class='conditionalShow_Street' ng-show="toggle" > <!-- conditionalShow_Street -->

                    <!-- style="display:none !important;" -->

<!--                      <p> <a style="color:white;" target="_blank" href='http://gisgate.co.clark.nv.us/gismo/apps/mobile/streetview/?@{{gStreetviewBigLinklat}}'>{{data.SiteAddress}}</a> 
                     </p> -->

<!--                      <div class="StrLabel" >
                       <p>{{data.SiteAddress}}</p>
                     </div> -->


                     <div class="StrLabel_Top" >
                       <p></p>
                     </div>



                     <!-- <div id="pano" style="" ></div> -->



                     <div class="StrLabel" >
                       <p>{{data.SiteAddress}}</p>
                     </div>

                   </div>



                 </accordion>

                </div> 


         </div>