


    <!-- ********************************** -->
    <!-- Convert to directive & template -->
    <!-- Legend Window -->
    <!--     <legend-window></legend-window> -->
    <div id="measureDivCasing" ng-show="theMeasureReturn" class="conditionalShow_LegWeather blockFade" > <!-- cssFade -->
<!--       <div style="color: #8ED1E9; font-size:17px; font-family: "verb","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;"> </div> -->

<!--       <h6>Measurement Results<img class="widgetClose pull-right closeWeatherIcon" ng-click="theWeather=false" border="0" src="css/images/icon-close2.png" style="display: inline;"></h6> -->


      <h6>Measurement Results</h6>






      <div id="measureDiv">





        <div id="">


        <div id="themeasuretest" style="color:white;"></div>

        




        <!-- <div id="themeasuretest" style="color:white;"></div> -->




<!--             <p>{{zoning.jurisdiction}} - {{data.ZipCode}}</p>
            <span id="wxInitial">Select a property</span>

            <span id="wxIcon2"></span> &nbsp;
            <span id="wxTemp"></span> -->

            
        </div>







        </div>











    </div>

        <!-- Weather Window -->
    <!--     <weather-window></weather-window> -->
<!--         <div id="weatherDivCasing" ng-show="theWeather" class="conditionalShow cssFade"  > -->
      <!--           <div style="color: #8ED1E9; font-size:17px; font-family: "verb","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;">Weather</div> -->
<!--       <div style="color: #8ED1E9; font-size:17px; font-family: "verb","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;">Weather</div>
          <div id="weatherDiv"></div>
        </div> -->
    <!-- ********************************** -->



