      
<!--       <div id='displayDirective' style='padding:7px; border:white;'>
        <div id='displayHeader' class='alert alert-info conditionalShow' role='alert' style='padding:7px;'>Map Display
          <span id='displayToggle' class='ion-chevron-left'></span>
          
        </div> -->


        <!-- Title -->
        <div id='introHeader' class='conditionalShow' role='alert' style="border-bottom:1px solid #DEDEDE;" > <!-- alert alert-info --> <!-- margin-top:0px; -->


               <!-- Logos -->
               <a id="title" class="navbar-brand" href="#" style=" " > 
                   <div id='logoTitle' style="display:inline-block;">
                     <img id="CountyLogo" title="OpenWeb" alt="OpenWeb" src="images/county/33logobrightened.png" class="conditionalShow" />
                     <!-- <img id="imgLogo" title="OpenWeb" alt="OpenWeb" src="images/logos/ow/ow3.5.png" style="height:74%; width:74%;"/> -->
                     <!-- <img id="imgLogo" title="OpenWeb" alt="OpenWeb" src="images/logos/ow/ow3.5_invert.png" style="height:74%; width:74%;"/> -->
                     <!-- <img id="imgLogo" title="OpenWeb" alt="OpenWeb" src="images/logos/ow/ow3.5_invert.png"/> -->
                     <img id="imgLogo" title="OpenWeb" alt="OpenWeb" src="images/logos/ow/ow3.5.png"/>
                     <!-- <img id="imgLogo_mobile" title="OpenWeb" alt="OpenWeb" src="images/logos/ow/compass.png" /> -->
                     <img id="imgLogo_mobile" title="OpenWeb" alt="OpenWeb" src="images/logos/ow/compass_invert.png" />
                   </div>     
               </a>


          <!-- Toggle -->
          <span id='introToggle' class='ion-chevron-left'><i class='ion-chevron-left' ></i></span>


        </div> <!--/introHeader -->






           <!-- CONTENT -->
           <div class="skinnySection" style="margin-top:48px; border:none;" > 


             <nav class="main-nav main-nav-desktop">


               
                 <ul class="nav-text blue-streak">
                 
                 <!--------------- MAP VIEWS -------------->

                  <!-- OLD WAY WITH viewconfig -->
      <!--                              <div class="dropdown customarrowVariant styled-select">
                     <select class="coordsDropDownVariant" name="viewSelector" ng-model="selectedViewDefault"
                          ng-options="item as item.vname for item in Views"
                          ng-change="viewChange(selectedViewDefault)">
                     </select>
                   </div> -->

                   <!-- NEW WAY WITH DIRECT JSON BIND -->
 <!--                   <div class="dropdown customarrowVariant styled-select">
                      <select class="coordsDropDownVariant" name="viewSelector" ng-model="selectedViewDefault"
                           ng-options="item as item.vname for item in Views"
                           ng-change="viewChange(selectedViewDefault)">
                      </select>
                    </div> -->


                    <div class="skinnyDropDownViews" >
                    <div class="dropdown customarrowVariant styled-select">
                      <i class="ion-social-buffer" style=" font-size: 24px; color:#DEDEDE;"></i>
                       <select class="coordsDropDownVariant" name="viewSelector" ng-model="selectedViewDefault" 
                            ng-options="item as item.vname for item in Views"
                            ng-change="viewChange(selectedViewDefault)">
                       </select>
                     </div>
                     </div>





                   <!-- also, to incluide to save in local storage: ng-change="saveView()" -->



                     <!--------------- MAP FLIGHTS -------------->



                      <!-- OLD WAY WITH owl_config -->
      <!--                   <div class="dropdown customarrowVariant styled-select">
                       <select class="coordsDropDownVariant" name="flightSelector" ng-model="selectedFlightDefault" 
                            ng-options="item as item.fname for item in Flights"
                            ng-change="flightChange(selectedFlightDefault)">
                       </select>
                     </div> -->










<!--                 <ul class="skinnyDisplayUL">

                <li style="height:29px !important;" class="skinnyDisplayLI">  -->

                  <div class="skinnyDropDownFlights" >
                  <!-- <i class="ion-social-buffer-outline" style=" font-size: 24px; color:#DEDEDE;"></i> -->
                  <div class="dropdown customarrowVariant styled-select">
                    <i class="ion-social-buffer-outline" style=" font-size: 24px; color:#DEDEDE;"></i>
                     <select class="coordsDropDownVariant" name="flightSelector" ng-model="selectedFlightDefault" 
                          ng-options="item as item.name for item in Flights | orderBy:'item'"
                          ng-change="flightChange(selectedFlightDefault)">
                     </select>
<!--                      <select class="coordsDropDownVariant" name="flightSelector" ng-model="selectedFlightDefault" 
                          ng-options="item as item.Name for item in Flights"
                          ng-change="flightChange(selectedFlightDefault)">
                     </select> -->
                   </div>
                   </div>
<!--                 </li>
                </ul>
 -->






               <!-- <div style="padding: 8px 8px 0;"></div> -->
               <!-- <div style="padding: 88px 8px 0;"></div> -->
               <div style="padding: 98px 8px 0;"></div>



               <!--------------- AERIAL SLIDER -------------->

                 <!-- works well but not in IE -->
                 <li class="aerialListItem" style="height:29px !important;"> 

                     <a id="aerialLbl" href="" style="margin-left:-5px !important;"> <i class="ion-eye" style=" font-size: 24px;"></i> </a>

                       <!-- <div style="margin-top:-26px !important; margin-left:75px !important; padding: 0px !important; background-color:transparent;"> -->
                        <div style="margin-top:-30px !important; margin-left:53px !important; padding: 0px !important; background-color:transparent;">
                         <input id="aerialSlider"  style="padding: 0px !important; background-color:transparent; border:1px solid #3b454e;"  type="range" min="0" max="1" value="1" step=.1 />
                         </div>
                         
                         <div id="aerialLevel" for="aerialSlider">100</div>

                 </li>




                 <!-- <div style="padding: 8px 8px 0;"></div> -->


                 <div class="skinnySection" style="" > </div>

                 <!-- <div style="padding: 8px 8px 0;"></div> -->



                   <!--------------- ETC CHECKS -------------->

                    <!-- New checks -->



                    <!-- Right of Way -->
<!--                     <li><a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/feedback/form.html" target="_blank">Send feedback</a></li>
 -->
<!--                     https://stackoverflow.com/questions/17928487/angular-js-how-to-change-an-elements-css-class-on-click-and-to-remove-all-others -->
<!--                     https://codepen.io/hbuchel/pen/xtbzc
                    <div ng-app="classApp" ng-controller="classCtrl">
                      <button class="button" ng-class="{'active': isActive}" ng-click="activeButton()" type="button">Click Me to Toggle Class</button> 
                    </div> -->





<!--                     <li id="streetViewList" class="StreetList"><a href="#">
                    <input id="streetviewBox" class="icon-checkbox strViewOverrides" type="checkbox" ng-model="toggle" />
                    <label for="streetviewBox">
                      <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
                      <span class='glyphicon glyphicon-check checked chkPadding'></span>
                      Street View
                    </label>
                    </a></li> -->





<!-- 
                    <li><a href="#">
                    <input id="rightwayBox" class="icon-checkbox addremoveROW" type="checkbox" /> 
                    <label for="rightwayBox">
                      <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
                      <span class='glyphicon glyphicon-check checked chkPadding'></span>
                      Right-of-Way
                    </label>
                    </a></li> -->


                    




<!--                     <li class="toolsList"><a href="#">
                    <input id="toolsBox" class="icon-checkbox toolsPosOverrides" type="checkbox" ng-model="theTools" />
                    <label for="toolsBox">
                      <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
                      <span class='glyphicon glyphicon-check checked chkPadding'></span>
                      Tools
                    </label>
                    </a></li>

                    <li class=" valuationList"><a href="#">
                    <input id="valuationBox" class="icon-checkbox valuationPosOverrides" type="checkbox" ng-model="theValuation" />
                    <label for="valuationBox">
                      <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
                      <span class='glyphicon glyphicon-check checked chkPadding'></span>
                      Valuation
                    </label>
                    </a></li>

                    <li class="LegList"><a href="#">
                    <input id="legendBox" class="icon-checkbox legPosOverrides" type="checkbox" ng-model="theLegend" ng-click="saveLegBlock(theLegend)" />
                    <label for="legendBox">
                      <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
                      <span class='glyphicon glyphicon-check checked chkPadding'></span>
                      Legend
                    </label>
                    </a></li>

                    <li class="WeatherList"><a href="#">
                    <input id="weatherBox" class="icon-checkbox weatherPosOverrides" type="checkbox" ng-model="theWeather" />
                    <label for="weatherBox">
                      <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
                      <span class='glyphicon glyphicon-check checked chkPadding'></span>
                      Weather
                    </label>
                    </a></li> -->


                 </ul>

                 <!-- http://stackoverflow.com/questions/23793737/twitter-bootstrap-radio-checkbox-how-to-put-glyphicon -->
                 <!-- http://getbootstrap.com/javascript/#buttons -->


<!--                  <ul class="skinnyDisplayUL">
                   <li ng-click="selectDisplayItem(item.id,item.name)" class="skinnyDisplayLI" ng-repeat="item in skinnyDisplayOptions" ng-class="{'active-selectionLI': item.id == activeClass}">
                       <a ng-class="{'active-selectionA': item.id == activeClass}" >
                                   <i class="{{item.icon}} skinnyDisplayIcon" >&nbsp;&nbsp;</i> {{item.name}}
                       </a>
                   </li>
                 </ul> -->


<!--                  <ul class="skinnyDisplayUL">
                   <li ng-click="selectDisplayItem(item.id,item.name,item.isChecked)" class="skinnyDisplayLI" ng-repeat="item in skinnyDisplayOptions" ng-class="{'active-selectionLI': item.id == activeClass}">
                       <a ng-class="{'active-selectionA': item.id == activeClass}" ng-model="skinnyDisplayOptions.isChecked" >
                                   <i class="{{item.icon}} skinnyDisplayIcon" >&nbsp;&nbsp;</i> {{item.name}}
                       </a>
                   </li>
                 </ul> -->


                 <ul class="skinnyDisplayUL">
                   <li ng-click="selectDisplayItem(item.id,item.name,item.active)" class="skinnyDisplayLI" id="{{item." ng-repeat="item in skinnyDisplayOptions" ng-class="{'active-selectionLI': item.id == activeClass}">
                       <a ng-class="{'active-selectionA': item.id == activeClass}" >
                               <i class="{{item.icon}} skinnyDisplayIcon" >&nbsp;&nbsp;</i> {{item.name}}
                       </a>
                   </li>
                 </ul>

<!-- 
                 class='dropdown-toggle' data-toggle="modal" data-target="#shareModal"
 -->
<!--                  <a id='shareembedListItem' class='dropdown-toggle' data-toggle="modal" data-target="#shareModal" href="#">Share or embed map</a>

 -->                 

<!--                   <a data-toggle="modal" data-target="#shareModal" href="#">Share or embed map</a>
 -->

                 




               </nav>




           </div> <!--END CONTENT -->




<!--       </div> -->