
  <div class="modal fade" id="assistantModal" role="dialog">
    <div class="modal-dialog">

    	    <div id='assistantDialog' class="container">
    	    	<div class="row">
    		        <div class="col-md-6">
    		        <!-- Nav tabs -->
    		        <div class="card">
    		        <ul class="nav share-tabs nav-tabs" role="tablist">
    		            <li role="presentation" class="active"><a href="#assistant" aria-controls="assistant" role="tab" data-toggle="tab">OW Agent</a></li>

    		            <!-- Close Icon -->
    		            <img class="modalCloseIcon" border="0" data-dismiss="modal" src="css/images/icon-close2.png">


    		        </ul>

    		        <!-- Tab panes -->
    		        <div class="share-tab-content tab-content">
    		            <div role="tabpanel" class="share-pane tab-pane active" id="assistant">

                      <!-- search examples -->
                      <!-- http://bootsnipp.com/tags/search -->

    		            	<!-- <input class="form-control" id="assistantInputBox" value=""  placeholder="Search Help" type="text"> -->



<!--                       <input type="text" id="myInput" ng-keypress="assistSearchandFilter(helpTask);" ng-model="helpTask"  placeholder="Search for names.."> -->

                      <!-- <input type="text" id="assistantInputBox" ng-keypress="assistSearchandFilter(helpTask);" ng-model="helpTask"  placeholder="Search for help.."> -->

                      <input type="text" id="assistantInputBox" ng-change="assistSearchandFilter(helpTask);" ng-model="helpTask"  placeholder="Search for help..">

    		            	<p class="share-link-message"> Type your question in natural language. </p>
    		      
    		            </div>





                    <!-- list -->
<!--                     <div id="assistantULList_DIV" class="list-group">
                      <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/OW_QuickGuide.pdf" target="_blank" class="list-group-item active list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; How to use OpenWeb</a>
                      <a href="../resources/AdvancedUseGuide.txt" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; OpenWeb Advanced Features and Functionality</a>
                      <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/feedback/form.html" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; Send us Feedback</a>
                      <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/releasenotes.txt" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; Current Release Notes</a>

                      <a href="#" class="list-group-item disabled"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; Measure distance between points</a>
                      <a href="#" class="list-group-item disabled"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; Adding graphics to the map</a>
                    </div> -->







                    <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> -->

<!--                     <input ng-keyup="count = count + 1" ng-init="count=0" />

                    ng-keypress="myFunct($event)"


                    <h1>{{count}}</h1> -->


                    <!-- <input type="text" id="myInput" ng-keyup="console.log('test');" placeholder="Search for names.."> -->

<!--                     <input type="text" id="myInput" ng-keypress="assistSearchandFilter($event);" ng-model="helpTask"  placeholder="Search for names.."> -->

<!--                     <input type="text" id="myInput" ng-keypress="assistSearchandFilter(helpTask);" ng-model="helpTask"  placeholder="Search for names..">




                    <div id="assistantULList_DIV" class="list-group">
                      <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/OW_QuickGuide.pdf" target="_blank" class="list-group-item active list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; How to use OpenWeb</a>
                      <a href="../resources/AdvancedUseGuide.txt" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; OpenWeb Advanced Features and Functionality</a>
                      <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/feedback/form.html" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; Send us Feedback</a>
                      <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/releasenotes.txt" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; Current Release Notes</a>

                      <a href="#" class="list-group-item disabled"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; Measure distance between points</a>
                      <a href="#" class="list-group-item disabled"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; Adding graphics to the map</a>
                    </div> -->




      
<!--                     <div class="list-group">
                    <ul id="assistantULList_UL">
                      <li><a class="list-group-item list-group-item-action" href="#" class="header">A</a></li>
                      <li><a class="list-group-item list-group-item-action" href="#">Adele</a></li>
                      <li><a class="list-group-item list-group-item-action" href="#">Agnes</a></li>

                      <li><a class="list-group-item list-group-item-action" href="#" class="header">B</a></li>
                      <li><a class="list-group-item list-group-item-action" href="#">Billy</a></li>
                      <li><a class="list-group-item list-group-item-action" href="#">Bob</a></li>

                      <li><a class="list-group-item list-group-item-action" href="#" class="header">C</a></li>
                      <li><a class="list-group-item list-group-item-action" href="#">Calvin</a></li>
                      <li><a class="list-group-item list-group-item-action" href="#">Christina</a></li>
                      <li><a class="list-group-item list-group-item-action" href="#">Cindy</a></li>
                    </ul>

                    </div>
 -->













                   <div class="list-group">
                   <ul id="assistantULList_UL">

                     <li>
                       <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/OW_QuickGuide.pdf" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; How to use OpenWeb</a>
                     </li>

                      <li>
                       <a href="../resources/AdvancedUseGuide.txt" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-font float-xs-left"></span> &nbsp; OpenWeb Advanced Features and Functionality</a>
                     </li>
                     <li>
                       <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/feedback/form.html" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-send float-xs-left"></span> &nbsp; Send us Feedback</a>
                     </li>
                     <li>
                       <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/releasenotes.txt" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-font float-xs-left"></span> &nbsp; Current Release Notes</a>
                     </li>
                     <li>
                       <a href="#" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-font float-xs-left"></span> &nbsp; Measure distance between points</a>
                     </li>
                     <li>
                       <a href="#" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-font float-xs-left"></span> &nbsp; Adding graphics to the map</a>
                     </li>

                   </ul>

                   </div>




<!--                    <div id="assistantULList_DIV" class="list-group">

                   <a style="padding:25px;" href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/feedback/form.html" target="_blank" class="list-group-item list-group-item-action"><span style="display:inline-block; margin-left:-6px;" class="glyphicon glyphicon-user"></span> 

                    <div style="display:inline-block; margin-top:-22px; padding-left:22px;"> How may I assist you? </div>

                    </a>

                 </div> -->





                  <!-- Assistant General Message -->
                   <div id="assitantGeneralMessageBox" class="list-group" style="display:none;" > <!-- id="assistantULList_DIV2" --> <!-- style="display:none;" -->

                    <!-- <a href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/OW_QuickGuide.pdf" target="_blank" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-file float-xs-left"></span> &nbsp; How to use OpenWeb</a> -->

                   <a style="padding:25px;" href="#" target="_blank" class="list-group-item list-group-item-action"><span style="display:inline-block; margin-left:-6px;" class="glyphicon glyphicon-file float-xs-left"></span> 

                    <!-- <p style="margin-left:20px;"> --> <div id="assistantULList_DIV2_Inner" style="display:inline-block; margin-top:-22px; padding-left:22px;">   <span id="assistantULList_DIV2_Contents" style="display:none;"></br></br></span>  </div>

                      <!-- extend to a collapsable, fitlerable bootstrap accordion with row-based filter operating as the search (instead of filtering list items) 
                        would enable you to filter the row items, and also allow for expanding/collapsing the individual row elements -->

                    </a>

                 </div>
                 <!-- display:inline-block; -->














<!--                     <script>
                    function myFunction() {
                        // Declare variables
                        var input, filter, ul, li, a, i;
                        input = document.getElementById('myInput');
                        filter = input.value.toUpperCase();
                        ul = document.getElementById("myUL");
                        li = ul.getElementsByTagName('li');

                        // Loop through all list items, and hide those who don't match the search query
                        for (i = 0; i < li.length; i++) {
                            a = li[i].getElementsByTagName("a")[0];
                            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                li[i].style.display = "";
                            } else {
                                li[i].style.display = "none";
                            }
                        }
                    }
                    </script> -->





















                    <!-- how to use OpenWeb -->
                    <!-- OpenWeb Advanced Features and Functionality -->
                    <!-- Send us feedback -->
                    <!-- Measure distance between points -->
                    <!-- Adding graphics to the map -->





    		            <div role="tabpanel" class="share-pane tab-pane" id="embed">




	<!-- 
		            	 <form class="form-horizontal">
		            	   <div class="form-group">
		            	     <select class="form-control-static col-sm-2" data-style="btn-primary" ng-options="size as size.name for size in sizes " ng-model="selectedEmbed" ng-change="updateEmbed()"></select> 
		            	     <div class="col-sm-10">
		            	       <input class="form-control" id="embedInputBox" ng-value="{{theEmbedLink}}" type="text">
		            	     </div>
		            	   </div>

		            	  </form> -->


<!-- 
		            	 <div class="form-horizontal">
		            	   <div class="input-group">

		            	   	<span class="input-group-btn col-sm-offset-0 col-sm-2">
		            	   		<select class="form-control" data-style="btn-primary" ng-options="size as size.name for size in sizes" ng-model="selectedEmbed" ng-change="updateEmbed()"></select> 
		            	   	</span>

		            	     <div class="col-sm-8">
		            	       <input class="form-control" id="embedInputBox" value="{{theEmbedLink}}" type="text">
		            	     </div>

		            	   	</div>
		            	   </div> -->



    		            	 <div class="form-horizontal">
    		            	   <div class="form-group">

    		            	   	<span class="input-group-select col-sm-2" style="width:21% !important; margin-right:-20px !important;">
    		            	   		<select class="form-control" data-style="btn-primary" ng-options="size as size.name for size in sizes" ng-model="selectedEmbed" ng-change="updateEmbed()"></select> 
    		            	   	</span>
 
    		            	     <div class="col-sm-9">
    		            	      <!--  <input class="form-control" id="embedInputBox" value="{{theEmbedLink}}" type="text"> -->

    		            	      <input class="form-control" id="embedInputBox" value="<iframe src='{{theShareLink}}' width='{{embedWidth}}' height='{{embedHeight}}' frameborder='0' style='border:1' allowfullscreen></iframe>" type="text">



    		            	      

    		            	     </div>

    		            	   	</div>
    		            	   </div>
  





    		            	



  









    		            	<!-- Below: iframe w/ an iframe preview of the embed version of openweb -->
    		            	<!-- <p class="share-link-message"> Preview: </p> -->

    		            	<!-- <iframe style="display:none;" src="{{theEmbedLink}}" width="400" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe> -->

    		            	<!-- <iframe style="display:none;" ng-src="{{theEmbedLink}}" width="{{embedWidth}}" height="{{embedHeight}}" frameborder="0" style="border:0" allowfullscreen=""></iframe> -->

    		            	<!-- <iframe style="display:none;" ng-src="{{theEmbedLink}}" width="{{embedWidth}}" height="{{embedHeight}}" frameborder="0" style="border:0" allowfullscreen=""></iframe> -->
    		            	

			            	<!-- {{theEmbedLink}} -->

    		            	<!-- <iframe ng-src="" width="{{embedWidth}}" height="{{embedHeight}}" frameborder="0" style="border:1" allowfullscreen=""></iframe> --> <!-- {{theShareLink}} -->


    		            </div>
    		            <!-- <div role="tabpanel" class="share-pane tab-pane" id="messages">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
    		            <div role="tabpanel" class="share-pane tab-pane" id="settings">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..</div> -->
    		        </div>


    		    </div>
    		   </div>
    		  </div>
    		 </div>

















    
      <!-- Modal content-->
<!--       <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-paperclip"></span> Share or Embed Map</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div> -->

        <!-- <div class="modal-footer"> -->

<!--           <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p> -->





        <!-- </div> -->

      <!-- </div> -->
      

      <!-- </div> -->
    </div>
  </div>
