
<!-- Search Autocomplete -->
		<a class="testing">
		  <img ng-src="images/searchpin.png" style="margin-top:-2px; margin-right:5px !important; width:10px; height:17.5px;"> 
		  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
		</a>
















<!-- 
		<ul class="dropdown-menu ng-isolate-scope" >

			<li ng-repeat="match in matches track by $index" ng-click="selectMatch($index)" >

			<a class="testing">
			  <img ng-src="images/searchpin.png" style="margin-top:-2px; margin-right:5px !important; width:10px; height:17.5px;"> 
			  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
			</a>


		    </li>

		</ul>

 -->







		<!-- 		<ul id="address" class="testing">
				       <li ng-repeat="address for address" ng-click="addToSelectedTags($index)" ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">

				       	{{suggestion}}

				       </li>
				     </ul>
		 -->











<!-- 		 <ul class="dropdown-menu ng-isolate-scope" ng-show="isOpen()" ng-style="{top: position.top+'px', left: position.left+'px'}" style="display: block; top: 34px; left: 0px;" role="listbox" aria-hidden="false" typeahead-popup="" id="typeahead-4-6308" matches="matches" active="activeIdx" select="select(activeIdx)" query="query" position="position" template-url="views/tempAutocomplete.html">

		 	<li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="typeahead-4-6308-option-2" class="ng-scope active">
		 			<a class="testing ng-scope">
		 			  <img ng-src="images/searchpin.png" style="margin-top:-2px; margin-right:5px !important; width:10px; height:17.5px;" src="images/searchpin.png"> 
		 			  <span bind-html-unsafe="match.label | typeaheadHighlight:query" class="ng-binding"><strong>1716</strong> MCWILLIAMS</span>
		 			</a>
		 	    </li>

		 </ul>

 -->

