
 <div id='introDirective' style='padding:7px; border:white;'>
   <!-- Title -->
   <div id='introHeader' class='alert alert-info conditionalShow' role='alert' style='padding:7px;'>Introduction
     <!-- <span id='introToggle' class='fa fa-times'></span> -->
     <span id='introToggle' class='fa fa-chevron-left'></span>
   </div>

   <!-- CONTENT -->
   <div style="margin-top:60px;"> 

<!--     <div class='jumbotron' >
      <h3>Aug 25, 2016</h3>
      <p>Welcome to the new OpenWeb <small style="font-weight:bold;">(Beta)</small>

        <div class="input-group-btn">
          <button id="tourButton" type="submit" class="tourInits btn btn-primary introButton-variant"> 
            <span>Take a tour</span>
          </button>
        </div>

        </br><p><small style="">Note: Access the non-beta version of OpenWeb in Internet Explorer browsers:</small></p>

        <small><a href="http://gisgate.co.clark.nv.us/openweb/">gisgate.co.clark.nv.us/openweb/</small>



      </p>
    </div> -->



    <div class='jumbotron' >
      <h3>Dec 5, 2016</h3>
      <p>Welcome to the new OpenWeb <small style="font-weight:bold;"> </small>

        <div class="input-group-btn">
          <button id="tourButton" type="submit" class="tourInits btn btn-primary introButton-variant"> 
            <span>Take a tour</span>
          </button>
        </div>

        
        </br><p><small style="">Note: Access the silverlight version of OpenWeb in Internet Explorer browsers:</small></p>

        <small><a id="introLink" href="http://gisgate.co.clark.nv.us/openweb/">gisgate.co.clark.nv.us/openweb/</a></small>

        <small><a id="releasenotesLink" href="../resources/releasenotes.txt" target="_blank">Release notes</a></small>
        

        <!-- <a id="aGuideLink" href="../resources/AdvancedUseGuide.txt" target="_blank">Advanced Guide</a> -->



      </p>
    </div>










   </div> <!--END CONTENT -->

 </div>