

<div class='infoCard conditionalShow' >





  <!-- removed the tabs 'mainTabs' -->



  




   <script>
   <!-- http://getbootstrap.com/javascript/#static-tooltip -->
   $(function() {
       $('.tip').tooltip();
   });
   </script>

       <script>
       // $(document).ready(function(){
       //     $('[data-toggle="tooltip"]').tooltip();   
       // });
       // $(function() {
       //     $('.resetPrice').tooltip();
       // });

   // $('[data-toggle=tooltip]').tooltip();



   // $(function() {
   //     $('[title]').attr("data-rel", "tooltip");
   //     $("[data-rel='tooltip']")
   //         .attr("data-placement", "top")
   //         .attr("data-content", function() {
   //             return $(this).attr("title")
   //         })
   //         .removeAttr('title');


   //     var showPopover = function() {
   //         $(this).popover('show');
   //     };
   //     var hidePopover = function() {
   //         $(this).popover('hide');
   //     };
   //     $("[data-rel='tooltip']").popover({
   //         trigger: 'manual'
   //     }).click(showPopover).hover(showPopover, hidePopover);

   // });


       </script>




      <div class='cards-strong' >

<!--               <div class="container">
                <h3>Tooltip Example</h3>
                <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
              </div>

              <button title="Reset Pricing" type="button"
                      class="btn btn-mini resetPrice"
                      data-placement='bottom'>
                  <i class="icon-refresh"></i>
              </button>
         -->




<!--         <p><b>Current Tool:</b> Select Property</p>  -->

      
      <!-- http://stackoverflow.com/questions/22016565/get-value-when-selected-ng-option-changes -->

      <p><b>Current Tool:</b> <span id="currentToolTag">Select Property</span></p> 


<!--       <div class="dropdown">
        <b>Coords in </b>
        <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-model="coordSelected" ng-change="changeCoords(coordSelected)">
          <option value="stateplaneft">State Plane ft. </option>
          <option value="latlong">Lat / Long</option>
        </select>
      </div> -->

<!--       <div class="dropdown">
        <b>Coords in </b>
        <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-model="selectedItem" ng-change="update()" ng-options="size as size.name for size in sizes" >
          <option value="stateplaneft">State Plane ft. </option>
          <option value="latlong">Lat / Long</option>
        </select>
      </div> -->

<!--         <div>
        <select ng-options="size as size.name for size in sizes " ng-model="item" ng-change="update()"></select>
       {{item.code}} {{item.name}}
     </div> -->




      <!-- last working -->

<!--      <div class="dropdown">
       <b>Coords in </b>
       <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-init="coordSelected = options[1]" ng-model="coordSelected" ng-change="changeCoords(coordSelected)">
         <option value="stateplaneft" selected="selected">State Plane ft. </option>
         <option value="latlong">Lat / Long</option>
       </select>
     </div> -->

<!--      <div class="dropdown">
       <b>Coords in </b>
       <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-model="coordSelected" ng-init="coordSelected = coordSelected || 'Select One'"  ng-options="option.value as option.name for option in options" ng-change="changeCoords(coordSelected)">
         <option value="stateplaneft" selected="selected">State Plane ft. </option>
         <option value="latlong">Lat / Long</option>
       </select>
     </div> -->

     <div class="dropdown customarrow">
        <b>Coords in </b>
        <select class="coordsDropDown" ng-model="selectedOption" ng-options="coordOption.name for coordOption in coordOptions" ng-change="changeCoords(selectedOption)">
<!--           <option value="stateplaneft" selected="selected">State Plane ft. </option>
          <option value="latlong">Lat / Long</option> -->
        </select>
      </div>

 <!--      <br> -->


<!--       <label>
        <select id="international"> 
          <option value="tests" selected="selected">México / Español</option>
          <option value="tests.au">Australia / English</option>
          <option value="tests.br/">Brazil / Português</option>
          <option value="tests">Benelux / Dutch</option>
          <option value="tests">Canada / English</option>
          <option value="tests/fr-ca">Canada / Français</option>
          <option value="tests">Česko / Česky</option>
          <option value="tests">Danmark / Dansk</option>
          <option value="tests">Deutschland / Deutsch</option>
          <option value="tests">España / Español</option>
          <option value="tests">France / Français</option>
          <option value="tests.hk">Hong Kong / English</option>
          <option value="tests">Ireland / English</option>
          <option value="tests">Italia / Italiano</option>
          <option value="tests">Norge / Norsk</option>
          <option value="tests.za">South Africa / English</option>
          <option value="tests">Sverige / Svenska</option>
          <option value="tests">Schweiz / Deutsch</option>
          <option value="tests">USA / English</option>
          <option value="tests.kr">대한민국 / 한국의</option>
          <option value="tests.jp">日本の / 日本 </option>
          <option value="tests.cn">中國 / 中國</option>
        </select>
      </label>
 -->









      


      <!-- multi-browser dropdown select test -->
<!--       <div class="select">
          <select name="select">
              <option>select</option>
              <option>option</option>
              <option>option</option>
              <option>option</option>
              <option>option</option>
              <option>option</option>
              <option>option</option>
          </select>
      </div>

      <br> -->

<!--       <select class="minimal">
        <option>CSS SELECT arrow (minimal)</option>
        <option>No external background image</option>
        <option>No wrapper</option>
      </select>
 -->

<!--       <div class="selectdiv ">
        <label>
            <select>
                <option selected> Select Box </option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Last long option</option>
            </select>
        </label>
      </div>
 -->





<!-- 
     <div class="dropdown">
       <b>Coords in </b>
       <select style="display:inline-block; background-color:transparent; border:0px; font-weight:bold;" ng-model="blisterPackTemplateSelected" ng-change="changedValue(blisterPackTemplateSelected)" data-ng-options="blisterPackTemplate as blisterPackTemplate.name for blisterPackTemplate in blisterPackTemplates" ng-init="somethingHere = options[1]">
            <option value="">State Plane ft.</option>
            <option value="">State Plane ft.2</option>
        </select>
     </div>
 -->








<!--       <div class="dropdown">
        <b>Coordinates in </b>
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">Drop
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">State Plane ft</a></li>
          <li><a href="#">Lat / Long</a></li>
        </ul>
      </div> -->

        <!-- <p style='width:0 auto; margin-top:-4px; font-weight:bold !important;' ><b>Coordinates in State Plane ft</b></p>  -->



<!--         <p style='width:0 auto; margin-top:-4px; font-weight:bold !important; display:inline-block;' ><b>Coordinates in 
          <select style="display:inline-block;">
            <option value="stateplaneft">State Plane ft</option>
            <option value="latlong">Lat / Long</option>
          </select>
        </b></p> -->

<!--         <div class="dropdown">
          <b>Coordinates in </b>
          <button class="btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Drop
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">State Plane ft</a></li>
            <li><a href="#">Lat / Long</a></li>
          </ul>
        </div> -->

      


        <table style='border:0px; width:auto; margin-top:-4px !important; margin-bottom:5px !important;'>

          <tr>

            <td style='font-size:12px; padding-top:6px; padding-bottom:6px;' id='showX'></td> 
            <td style='font-size:12px; padding-top:6px; padding-bottom:6px; padding-left:5px;' id='showY'></td>  

<!--             <td style='font-size:12px; padding-top:6px; padding-bottom:6px;' id='showX'>{{thePointX}}</td> 
            <td style='font-size:12px; padding-top:6px; padding-bottom:6px; padding-left:5px;' id='showY' ng-model="thePoint.Y"></td>   -->


            <!-- showX.innerHTML = "<b>X: </b>" + $scope.thePoint.X; -->

          </tr> 
        </table> 

        <p style="margin-top:-10px !important;"><b>Flight Date:</b> <span id="currentFlightTag">Most Current Flight</span></p> 

        <p><b>Current View: </b><span id="currentViewTag">Assessor Map</span></p> 

        <p>1: 8,000</p> 

      </div> 

    </div>