      
   <div id='disclaimerDialog' title='Data Disclaimer' style="text-align:center;">

  <strong>Welcome to OpenWeb!</strong>
    <p>Due to continuous development activity throughout Clark County, this data is for reference only. The information is presented solely for the convenience of the 
    citizens of Clark County. Specific questions are to be referred to the
    appropriate County Department and/or municipality.<br><br>
    <strong>THE MAPS AND DATA ARE PROVIDED WITHOUT WARRANTY OF ANY KIND, EXPRESSED OR IMPLIED.</strong> </p>
</div>