
<!--  <div id='introDirective' style='padding:7px; border:white;'>
 -->
















    <!-- CONTENT -->
    <div style="margin-top:30px; border-top:1px solid rgb(37, 83, 132);"> 


     <div class='jumbotron' style="" >


         <div style="padding-top:18px; padding-bottom:6px;" class="input-group-btn">
           <button id="tourButton" type="submit" class="tourInits btn btn-primary introButton-variant" style="border-color: transparent; letter-spacing: .2px; text-transform: uppercase; border: none; transition: all .3s ease;border-radius: 0px !important;     font-size: 1.1875rem; background-color: rgb(37, 83, 132) !important; border: none !important; color: hsla(0,0%,100%,.9); font-weight: 300 !important; font-family: 'Open Sans', sans-serif !important; letter-spacing: .2px; -webkit-font-smoothing: antialiased;"> 
             <span>Take a tour</span>
           </button>
         </div>



         <span class="introBottomSection">

           <small><a id="qGuideLink" href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/OW_QuickGuide.pdf">QuickGuide</a></small> |
           <small><a id="dGuideLink" href="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/resources/wiki-local/open-web-js.html">Docs</a></small> |
           <small><a id="aGuideLink" href="#" ng-click="assistBasicShow()">Agent</a></small>

         </span>



         <!-- Notes -->
         </br>



         <div id="intoUpdateContainer" >

           <ul id="introUpdateList">

             <!--  MAP VIEWS -->
             <li ng-repeat="result in Updates| orderBy:'updatesid'">

               <p class="introPaneTextSubsetLight" style="">

                   <span id="{{result.updatesid}}" style="" class="introPaneTextSubsetIcons iconic-adjust-11" ng-class="{showImprove: result.status === 2, showBubble: result.status === 1, showWarn: result.status === 0}" data-pack="default" ></span>  {{result.name}} 


                   <div ng-show="result.statusmsg" class="alert-info-custom" style="">
                     <a href="#" ng-click="assistWhatsComing(result.name,result.statustext)" class="alert-link" style="padding:7px;">more...</a>
                     <!-- font-size:11px; padding:7px; padding-top:10px; margin-top:20px; -->
                   </div>

               </p>
             
             </li>
           </ul>

       </div>


     </div>

    </div> <!--END CONTENT -->











<!--  </div> -->