
 <div id='toolsDirective' style='padding:7px; border:white;'>
   <!-- Title -->
   <div id='toolsHeader' class='alert alert-info conditionalShow' role='alert' style='padding:7px;'>Tools
     <!-- <span id='introToggle' class='fa fa-times'></span> -->
     <span id='toolsToggle' class='fa fa-chevron-left'></span>
   </div>


   <!-- CONTENT -->
   <div style="margin-top:60px;">



    <nav class="main-nav main-nav-desktop">
        <ul class="nav-text blue-streak"> <!-- class="nav nav-tabs" -->

<!--           <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.POINT);">Point</button>
 -->

<!--           <input class="toolBtn" type="button" value="Point" id="PointBtn"/> 
          <input class="toolBtn" type="button" value="Multi Point" id="mPointBtn"/> 
          <input class="toolBtn" type="button" value="Line" id="LineBtn"/> 
          <input class="toolBtn" type="button" value="Polyline" id="PolylineBtn"/> 
          <input class="toolBtn" type="button" value="Polygon" id="PolygonBtn"/> 
          <input class="toolBtn" type="button" value="Freehand Polyline" id="fPolylineBtn"/> 
          <input class="toolBtn" type="button" value="Freehand Polygon" id="fPolygonBtn"/> 
          <input class="toolBtn" type="button" value="Arrow" id="ArrowBtn"/> 
          <input class="toolBtn" type="button" value="Triangle" id="TriangleBtn"/> 
          <input class="toolBtn" type="button" value="Circle" id="CircleBtn"/> 
          <input class="toolBtn" type="button" value="Ellipse" id="EllipseBtn"/>  -->

<!--           <input onclick="toolbar.activate(esri.toolbars.Draw.POINT);">Point</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.MULTI_POINT);">Multipoint</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.LINE);">Line</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.POLYLINE);">Polyline</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.POLYGON);">Polygon</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYLINE);">Freehand Polyline</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYGON);">Freehand Polygon</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.ARROW);">Arrow</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.TRIANGLE);">Triangle</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.CIRCLE);">Circle</input>
          <input dojoType="dijit.form.Button" onclick="toolbar.activate(esri.toolbars.Draw.ELLIPSE);">Ellipse</input> -->

<!-- 

          <button dojoType="dijit.form.Button" onClick="map.graphics.clear();">Clear Graphics</button> -->


          <!-- <button dojoType="dijit.form.Button" onClick="map.getLayer('uniqueId1').clear();">Clear Graphics</button> -->

<!--           <button dojoType="dijit.form.Button" onClick="map.graphics.remove('highlight'); console.log('cleared');">Clear Graphics</button> -->

<!-- <button dojoType="dijit.form.Button" onClick="console.log(map.spatialReference);">Clear Graphics</button> -->

<!-- <button dojoType="dijit.form.Button" onClick="console.log(highlight);">Clear Graphics</button> -->


<!--           <input class="toolBtn" type="button" value="one" id="One"/> 
      <button class="toolBtn" data-dojo-type="dijit/form/Button" value="Point">Point</button>
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Multi Point</button>
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Line</button>
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Polyline</button>
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Polygon</button>
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Freehand Polyline</button>
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Freehand Polygon</button>
      
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Arrow</button>
      <button class="toolBtn" ata-dojo-type="dijit/form/Button">Triangle</button>
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Circle</button>
      <button class="toolBtn" data-dojo-type="dijit/form/Button">Ellipse</button> -->



















      <!-- possibly easier methology:

      https://developers.arcgis.com/javascript/3/sandbox/sandbox.html?sample=util_label_point


      <button id="polygon" data-dojo-type="dijit.form.Button">Polygon</button>
      <button id="freehand" data-dojo-type="dijit.form.Button">Freehand Polygon</button>
      <button id="clear" data-dojo-type="dijit.form.Button">Clear Graphics</button>


      // activate a drawing tool when a button is clicked
      registry.byId("polygon").on("click", function() {
        toolbar.activate(Draw.POLYGON);
        map.hideZoomSlider();
      });
      registry.byId("freehand").on("click", function() {
        toolbar.activate(Draw.FREEHAND_POLYGON);
        map.hideZoomSlider();
      });
      registry.byId("clear").on("click", function() {
        map.graphics.clear();
      });

      -->



      <!-- WORKING TOOLS  -->

 <!--      <button id="polygon" data-dojo-type="dijit.form.Button">Polygon</button>
      <button id="freehand" data-dojo-type="dijit.form.Button">Freehand Polygon</button>
      <button id="clear" data-dojo-type="dijit.form.Button">Clear Graphics</button> -->


          <li class='dropdown' id='drawtoolList'>
            <a class='dropdown-toggle' data-toggle='dropdown' href="#">Draw Tools 
<!--               <i class="fa fa-angle-right pull-right" style="margin-top:3px;" ></i> -->
              <!-- <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> -->
            </a>
            <ul id='tools-dropdown-menu-form' class='dropdown-menu dropdown-menu-form'>


<!--             <button id="polygon" data-dojo-type="dijit.form.Button">Polygon</button>
            <button id="freehand" data-dojo-type="dijit.form.Button">Freehand Polygon</button>
            <button id="clear" data-dojo-type="dijit.form.Button">Clear Graphics</button> -->


              <!-- suite of tools -->
              <li id="Point" class="toolSelect"  onClick="toolbar.activate(esri.toolbars.Draw.MULTI_POINT);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Point</a></li>

              <li id="Polyline" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.POLYLINE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Polyline</a></li>
              
              <li id="Polygon" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.POLYGON);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Polygon</a></li>
              
              <li id="FH_Polyline" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYLINE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Freehand Polyline</a></li>
              
              <li id="FH_Polygon" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYGON);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Freehand Polygon</a></li>
              
              <li id="Arrow" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.ARROW);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Arrow</a></li>
              
              <li id="Triangle" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.TRIANGLE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Triangle</a></li>
              
              <li id="Circle" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.CIRCLE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Circle</a></li>
              
              <li id="Ellipse" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.ELLIPSE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Ellipse</a></li>


              <!-- erase / finish -->
              <li id="eraseBtn" style="" ><a href="#"><small><span class="fa fa-eraser pull-left" style="margin-top:7px; margin-right:7px;"></span></small>  Erase</a></li>
             
              <li id="finishDrawBtn" style="" ><a href="#"><small><span class="fa fa-thumbs-o-up pull-left" style="margin-top:7px; margin-right:7px;"></span></small>  Finish Drawing</a></li>


              <!-- return measure display -->









<!-- 
              <li id="eraseBtn" style="" ><a href="#"><small><span class="fa fa-eraser pull-left" style="margin-top:7px; margin-right:7px;"></span></small>  Erase</a></li>
              <li id="finishDrawBtn" style="" ><a href="#"><small><span class="fa fa-thumbs-o-up pull-left" style="margin-top:7px; margin-right:7px;"></span></small>  Finish Drawing</a></li> -->




                            <!-- <li style="height:15px !important;"></li -->

              <!--               <br style="background-color:#232323; background:#232323;"></br>
                            <hr style="background-color:#232323; background:#232323;"></hr> -->

                            <!-- <li id="eraseBtn" ><a href="#"><small><i class="fa fa-eraser pull-left" style="margin-top:6px; margin-left:35px; margin-right:10px;" ></i> </small>  Eraser</a></li> -->
              <!--               <li id="eraseBtn" style="" ><a href="#"><small><i class="fa fa-eraser pull-left" style="margin-top:6px; margin-right:10px;" ></i> </small>  Eraser</a></li> -->


<!--               <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.POINT);">Point</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.MULTI_POINT);">Multipoint</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.LINE);">Line</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.POLYLINE);">Polyline</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.POLYGON);">Polygon</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYLINE);">Freehand Polyline</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYGON);">Freehand Polygon</button>
              --The Arrow,Triangle,Circle and Ellipse types all draw with the polygon symbol--
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.ARROW);">Arrow</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.TRIANGLE);">Triangle</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.CIRCLE);">Circle</button>
              <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.ELLIPSE);">Ellipse</button>

              <button id="eraseBtn" dojoType="dijit.form.Button" >Eraser</button> -->


            </ul>
          </li>








          
<!--           <li class="arrowSpring"><a href="/bar-talk">Draw Tools <i class="fa fa-angle-right pull-right" style="margin-top:3px;" ></i></a></li> -->
<!--           <li class='dropdown' id='drawtoolList'>
            <a class='dropdown-toggle' data-toggle='dropdown' href="#">Draw Tools</a>
            <ul class='dropdown-menu dropdown-menu-form'>
              <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> drawpolyImage</a></li>
              <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> drawfreehand</a></li>
              <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> DrawPolyline</a></li>
              <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> DrawPoint</a></li>
              <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> AddText</a></li>
              <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> DeleteLastGraphic</a></li>
              <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> DeleteAllGraphics</a></li>
            </ul>
          </li> -->

          <!-- old worked -->
<!--           <li><a href="#"><input type="checkbox" value="" checked>&nbsp;&nbsp;Return Measure</a></li> -->

          <!-- new works -->
<!--           <li><a href="#">
            <input id="measureBox" type="checkbox" class="glyphicon glyphicon-unchecked" ng-model="theMeasure" value="">
            <label for="measureBox">Return Measure</label>
          </a></li> -->

<!--           <input id="checkbox1" class="icon-checkbox" type="checkbox" />
          <label for="checkbox1">
            <span class='glyphicon glyphicon-unchecked unchecked'></span>
            <span class='glyphicon glyphicon-check checked'></span>
            Checkbox 1
          </label> -->

<!--           <li>
          <input id="checkbox1" class="icon-checkbox" type="checkbox" checked />
          <label for="checkbox1">
            <span class='glyphicon glyphicon-unchecked unchecked'></span>
            <span class='glyphicon glyphicon-check checked'></span>
            Return Measure
          </label>
          </li> -->


<!--           <li><a href="#">
          <input id="checkbox1" class="icon-checkbox" type="checkbox" checked />
          <label for="checkbox1">
            <span class='glyphicon glyphicon-unchecked unchecked'></span>
            <span class='glyphicon glyphicon-check checked'></span>
            Return Measure
          </label>
          </a></li> -->


          <!-- New checks -->

          <li><a href="#" class="disable_List">
          <input id="measureBox" class="icon-checkbox" type="checkbox" checked />
          <label for="measureBox">
            <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
            <span class='glyphicon glyphicon-check checked chkPadding'></span>
            Return Measure
          </label>
          </a></li>




          <!-- Color -->
          <li class='dropdown' id='colorList'>
            <a class='disable_List dropdown-toggle' data-toggle='dropdown' href="#">Color</a>
              <ul class='dropdown-menu dropdown-menu-form'>
                <li><a href="#"><small><img src="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/images/colorbox/blackBox.png"></img> </small> Black</a></li>
                <li><a href="#"><small><img src="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/images/colorbox/blueBox.png"></img> </small> Blue</a></li>
                <li><a href="#"><small><img src="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/images/colorbox/greenBox.png"></img> </small> Green</a></li>
                <li><a href="#"><small><img src="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/images/colorbox/redBox.png"></img> </small> Red</a></li>
                <li><a href="#"><small><img src="http://gisgate.co.clark.nv.us/gismo/apps/mobile/ow4/app/images/colorbox/yellowBox.png"></img> </small> Yellow</a></li>
              </ul>
          </li>

          <!-- Symbol -->
          <li class='dropdown' id='symbolList'>
            <a class='disable_List dropdown-toggle dropdown-menu-form' data-toggle='dropdown' href="#" >Symbol</a>
              <ul class='dropdown-menu'>
                <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> Point1</a></li>
                <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> Point2</a></li>
                <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> Point3</a></li>
                <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> Point4</a></li>
                <li><a href="#"><small><span class="glyphicon glyphicon-pencil"></span></small> Point5</a></li>
              </ul>
          </li>


          <!-- Annotation Text -->
          <li><a href="#" class="disable_List">Annotation Text</a></li>
          <!-- Annotation Size -->
          <li><a href="#" class="disable_List">Annotation Size</a></li>
          <!-- Buffer -->
          <li><a href="#" class="disable_List">Buffer</a></li>



          <!-- Spacer -->
          <div style="padding: 20px 30px 0;"></div>


















<!-- 
          <li><a id="printMapLink" href="#">Print</a>

          <ul class='dropdown-menu two-col-special dropdown-menu-form'>

            <li><a href="#">
            <input id="place1c" class="icon-checkbox" type="checkbox" ng-model="place1c" />
            <label for="place1c">
              <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
              <span class='glyphicon glyphicon-check checked chkPadding'></span>
              Landscape
            </label>
            </a></li>
            <li><a href="#">
            <input id="place2c" class="icon-checkbox" type="checkbox" ng-model="place2c" />
            <label for="place2c">
              <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
              <span class='glyphicon glyphicon-check checked chkPadding'></span>
              Portrait
            </label>
            </a></li>
          </ul>
          </li> -->






<!--           <li><a href="#">Export</a>

            <ul class='dropdown-menu two-col-special dropdown-menu-form'>

              <li><a href="#">
              <input id="place1d" class="icon-checkbox" type="checkbox" ng-model="place1d" />
              <label for="place1d">
                <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
                <span class='glyphicon glyphicon-check checked chkPadding'></span>
                PDF
              </label>
              </a></li>
            </ul>
            </li> -->



        </ul>

      </nav>







<!-- 
      <ul class="nav-text">
        <li class='dropdown'>
          <a style="width:180px;" class='btn btn-primary dropdown-toggle' data-toggle='dropdown' href='#'>Draw Tools <span class='caret'></span></a>
          <ul class='dropdown-menu'>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>drawpolyImage</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>drawfreehand</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>DrawPolyline</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>DrawPoint</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>AddText</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>DeleteLastGraphic</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>DeleteAllGraphics</a></li>
          </ul>
        </li>

      </ul>

 -->


<!--         <ul style='list-style-type: none; margin-left:-20px;'>

          <ul style='list-style-type: none; margin-left:-40px;'>
            <li class='dropdown'>
              <a style="width:180px;" class='btn btn-primary dropdown-toggle' data-toggle='dropdown' href='#'>Draw Tools <span class='caret'></span></a>
              <ul class='dropdown-menu'>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>drawpolyImage</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>drawfreehand</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>DrawPolyline</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>DrawPoint</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>AddText</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>DeleteLastGraphic</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>DeleteAllGraphics</a></li>
              </ul>
            </li>

          </ul>

      

          <div style="margin-left:30px;" class="checkbox">
            <label style="color:#D9F0F0; !important;"><input type="checkbox" value="" checked>Return Measure</label>
          </div>




          <div id='colorPointPanel' style="margin-left:-20px;" >

              <li class='dropdown' style="display:inline !important;" >
                <a style="margin-left:28px; width:68px;"  class='btn btn-primary dropdown-toggle' data-toggle='dropdown' href='#'>Color <span class='caret'></span></a>
                <ul class='dropdown-menu'>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Black</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Blue</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Green</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Red</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Yellow</a></li>
                </ul>
              </li>


              <li class='dropdown' style="display:inline !important;">
                <a style="margin-left:10px; width:82px;"  class='btn btn-primary dropdown-toggle' data-toggle='dropdown' href='#'>Symbol <span class='caret'></span></a>
                <ul class='dropdown-menu'>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Point1</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Point2</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Point3</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Point4</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>Point5</a></li>
                </ul>
              </li>

          </div>











          <br>

          <li>

                <input  type="text" style="width:180px;" class="form-control" placeholder="Annotation Text" > 
          </li>

          <br>

          <ul style='list-style-type: none; margin-left:-40px;'>
            <li class='dropdown' >
              <a style="width:180px;" class='btn btn-primary dropdown-toggle' data-toggle='dropdown' href='#'>Annotation Size <span class='caret'></span></a>
              <ul class='dropdown-menu'>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>8</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>12</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>15</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>20</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>40</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>80</a></li>
              </ul>
            </li>

          </ul>



          <hr style="margin-right:25px;">


        </ul>





          <div id='mapFunctionsPanel' style="margin-left:-20px;" >

            <a class='btn btn-primary' style="margin-left:70px; width:50px;" href='#'><span class='glyphicon glyphicon-print'></span></a>

            <a class='btn btn-primary' style="margin-left:10px; width:50px;" href='#'><span class='glyphicon glyphicon-export'></span></a>

            <hr style="margin-left:40px; margin-right:25px;">

          </div>




          <ul style='list-style-type: none; margin-left:-20px;'>

            <li> 
              <a class='btn btn-primary' style="width:180px;" href='#'><span class='  pull-left'></span>Buffer </a>
            </li>

          </ul>
 -->












   </div> <!--END CONTENT -->

 </div>