
    <!-- ********************************** -->

<!--     <div id="weatherDivCasing" ng-show="theWeather" class="conditionalShow_LegWeather blockFade" > -->


            <div id="weatherCard" class="infoCard conditionalShow">
                  <div class="cards-strong-weather">

                    <div id="wxWrap" style=""> <!-- padding-top:15px !important; -->

                        <!-- <p style="margin-top:5px;"><b>{{zoning.jurisdiction}} - {{data.ZipCode}}</b>   -->  
                          <!-- <p style="margin-top:15px;"><b>{{zoning.jurisdiction}} - {{data.ZipCode}}</b>  --> 
                          <!-- <p><b>Las Vegas - 89144</b>     -->



                            <span >
                              <!-- <b>{{zoning.jurisdiction}} - {{data.ZipCode}}</b> -->
                              <b>Las Vegas - {{data.ZipCode}}</b>
                            </span>


<!--                         <span class="drawtoolicon currentWeatherIcon fa-fw select-all fas"></span>

                        <span class="fa-fw select-all fas"></span>
 -->

                        <!-- <span class="currentWeatherIcon">53°<i class="fa-fw select-all fas" ></i></span>  -->

                        <!-- <i class="icon ion-ios-rainy-outline"></i> -->



                        <span class="step size-28" style="float:right; padding:0px; margin-top:-5px; margin-right:-10px; color: rgba(0, 0, 0, 0.54);">
                          <!-- <i class="icon ion-ios-rainy-outline" style="font-size:28px !important;"></i> -->
                          <!-- <i class="icon ion-android-cloud-outline" style="font-size:20px !important;"></i> -->
                          <i class="icon ion-ios-cloud-outline" style="font-size:22px !important;"></i>
                        </span>


                        <span  style="font-size:13px !important; float:right; padding:0px; margin-right:-5px; color: rgba(0, 0, 0, 0.54);">
                          53° &nbsp;&nbsp;&nbsp;
                        </span>






<!--                         <span id="wxForecast">          
                             <li id="forecastViewList" style="display:inline-block !important; margin-left:-20px !important;"><a href="#" style="display:inline-block !important; margin-left:10px !important;">
                          <input id="forecastviewBox" class="icon-checkbox ng-pristine ng-untouched ng-valid" type="checkbox" ng-model="forecasttoggle">
                          <label for="forecastviewBox" style="width:auto;">
                            <span class="glyphicon glyphicon-unchecked unchecked chkPadding"></span>
                            <span class="glyphicon glyphicon-check checked chkPadding"></span>
                            10-day
                          </label>
                          </a></li>
                        </span> -->
                        

                        <span id="wxIcon2"></span> &nbsp;
                        <span id="wxTemp"></span>


                    </div>


                   <!-- ForecastView -->
<!--                   <div id="forecastCard" ng-show="forecasttoggle" >

                    <table class='table table-bordered ownershipTable' >
                      <tr style="background-color: #f9f9f9; height:5px !important; color: #8ED1E9;">
                        <th style="height:5px !important;"> </th> 
                        <th style="height:5px !important;">Date</th> 
                        <th style="height:5px !important;">Day</th> 
                        <th style="height:5px !important;">High</th> 
                        <th style="height:5px !important;">Low</th> 
                        <th style="height:5px !important;">Text</th>
                      </tr>
                      <tr ng-repeat="currWeath in weather">
                        <td><img src="http://gisgate.co.clark.nv.us/Gismo/apps/mobile/OW4/app/images/weather_icons/{{currWeath.code}}.gif" width="34" height="34" /></td>
                        <td>{{currWeath.date}}</td>
                        <td>{{currWeath.day}}</td>
                        <td>{{currWeath.high}}</td>
                        <td>{{currWeath.low}}</td>
                        <td>{{currWeath.text}}</td>
                      </tr>
                    </table>

                     <div class="forecastLabel_Top" >
                       <p></p>
                     </div>

                   </div>
 -->


                  </div> 
                </div>



<!--     </div>
 -->
