


    <!-- ********************************** -->
    <!-- Convert to directive & template -->
    <!-- Legend Window -->
    <!--     <legend-window></legend-window> -->
    <div id="legendDivCasing" ng-show="theLegend" class="conditionalShow_LegWeather blockFade" > <!-- cssFade -->
<!--       <div style="color: #8ED1E9; font-size:17px; font-family: "verb","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;"> </div> -->

      <h6>Legend<img class="widgetClose pull-right closeLegIcon" ng-click="theLegend=false; saveLegBlock(theLegend)" border="0" src="css/images/icon-close2.png" style="display: inline;"></h6>

        <!-- <button ng-click="theLegend=false">Hide</button> -->
<!--       <input class="pull-right" type="button" ng-click="theLegend" value="x"> -->
      <div id="legendDiv"></div>
    </div>

        <!-- Weather Window -->
    <!--     <weather-window></weather-window> -->
<!--         <div id="weatherDivCasing" ng-show="theWeather" class="conditionalShow cssFade"  > -->
      <!--           <div style="color: #8ED1E9; font-size:17px; font-family: "verb","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;">Weather</div> -->
<!--       <div style="color: #8ED1E9; font-size:17px; font-family: "verb","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;">Weather</div>
          <div id="weatherDiv"></div>
        </div> -->
    <!-- ********************************** -->



