

    <!-- ********************************** -->
    <!-- Tools -->



   <div class="tool-header" ng-show="theTool">
     

      <!-- toolDropDown Select -->
      <div class="toolsDropDownSeparator"></div>
      <div class="dropdown toolsDropDown" style="display:none;"> <!-- display:none; --> <!-- customexpand --> <!-- color:black; -->
        <!-- &nbsp; Draw  -->
        <select class="toolsDropDownInner ng-pristine ng-valid ng-touched" style="" ng-model="selectedToolOption" ng-options="toolOption.name for toolOption in toolOptions" ng-change="changeTools(selectedToolOption)"></select>


        <!-- <i class="ion-social-buffer" style=" font-size: 24px; color:#DEDEDE; z-index:0;"></i> -->
        <!-- <span class="fa-fw select-all fas" style="position:absolute; top:20px; left:60px; font-size: 14px; z-index:0;">  </span> -->

<!--         <span class="fa-fw select-all fas" style="font-size: 14px; margin-left:-15px; z-index:0;">  </span>
        <span class="fa-fw select-all fas" style="position:absolute; top:20px; left:60px; font-size: 14px; z-index:0;">  </span> -->
<!--         <span class=" drawtoolicon fa-fw select-all fas " style="font-size: 18px;">     </span> -->
        <!-- <b>Coords in </b>
        <select class="coordsDropDown ng-pristine ng-valid ng-touched" ng-model="selectedOption" ng-options="coordOption.name for coordOption in coordOptions" ng-change="changeCoords(selectedOption)"><option value="0" selected="selected">State Plane ft. </option><option value="1">Lat / Long</option></select>

 -->

<!--          <b>Coords in </b>
         <select class="coordsDropDown ng-pristine ng-valid ng-touched" ng-model="selectedOption" ng-options="coordOption.name for coordOption in coordOptions" ng-change="changeCoords(selectedOption)"><option value="0" selected="selected">State Plane ft. </option><option value="1">Lat / Long</option></select>
 -->

      </div>



      <div class="dropdown toolsDropDown">
        <button class="btn btn-primary dropdown-toggle toolsDropDownInner" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <!-- btn-default -->
          Draw &nbsp;
          <span class="ion-android-more-horizontal"></span>
        </button>
        <ul class="dropdown-menu toolsDropDownMenu" aria-labelledby="dropdownMenu1">
          <li class="drawDropDownMenuItem"><a href="#" data-value="another action">Draw &nbsp;</a></li>
          <li class="bufferDropDownMenuItem"><a href="#" data-value="something else here">Buffer &nbsp;</a></li>
          <li class="annotateDropDownMenuItem"><a href="#" data-value="something else here">Annotate &nbsp;</a></li>
        </ul>


      </div>









<!--       <span class="fa-fw select-all fas" style="position:absolute; top:28px; left:460px; font-size: 14px; z-index:0;">  </span> -->


<!--       <div class="dropdown customarrowVariant styled-select">
        <i class="ion-social-buffer" style=" font-size: 24px; color:#DEDEDE;"></i>
         <select class="coordsDropDownVariant ng-pristine ng-valid ng-touched" name="viewSelector" ng-model="selectedViewDefault" ng-options="item as item.vname for item in Views" ng-change="viewChange(selectedViewDefault)"><option value="0" selected="selected">Aerial Imagery Only</option><option value="1" selected="selected">Assessor Map</option><option value="2">Boulder City Zoning</option><option value="3">Clark County PLU</option><option value="4">Clark County Zoning</option><option value="5">Contours 50 Meter</option><option value="6">Contours 2016 2ft (Valley)</option><option value="7">Contours 2003 5ft (Valley)</option><option value="8">Contours 1996 5ft (Valley)</option><option value="9">Default</option><option value="10">Henderson Zoning</option><option value="11">Las Vegas Zoning</option><option value="12">Mesquite Zoning</option><option value="13">North Las Vegas Zoning</option><option value="14">Seismic</option><option value="15">Soil Guideline</option></select>
       </div> -->







      <!-- <span class="iconic-adjust-widgets-expand ion-navicon-round" style="display: inline;"> </span> --><!-- </h2> -->
      <span class="ion-close pull-right closeToolIcon" ng-click="theTool=false; saveLegBlock(theLegend); " style="display: inline; cursor:pointer;"> </span>
      <!-- $('.body').removeClass('push-Body'); -->













      




      <!-- Draw Tools -->

<!--       <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
          <input type="radio" aria-label="Radio button for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with radio button">
      </div> -->



      <ul class="nav nav-pills draw-tools-container pull-right" style="">
        <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
        <!--  -->

<!--         <li role="presentation" class="drawtoolheaders toolSelect" id="Line"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>line</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="FH_Line"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>fh</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Polygon"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>poly</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="FH_Polygon"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>fh</a></li>

        <li role="presentation" class="drawtoolheaders toolSelect" id="Point"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all far" ></span></a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Arrow"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Triangle"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas rotateIcon" ></span></a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Circle"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Ellipse"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li> -->




        <li role="presentation" class="drawtoolheaders toolSelect" id="Point" ><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li> 
        <!-- <li role="presentation" class="drawtoolheaders toolSelect" id="Multi_Point"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>  -->

  <!--         <li role="presentation" class="drawtoolheaders toolSelect" id="Pin"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>   -->
        <li role="presentation" class="drawtoolheaders toolSelect" id="Pin"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>  




        <li role="presentation" class="drawtoolheaders toolSelect" id="Arrow"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Triangle"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas rotateIcon" ></span></a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Square"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>
        
        <li role="presentation" class="drawtoolheaders toolSelect" id="Circle"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Ellipse"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>



        
        <li role="presentation" class="drawtoolheaders toolSelect" id="Line" style="margin-left:20px;"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>line</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="FH_Line"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>fh_line</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Polygon"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>poly</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="FH_Polygon"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>fh_poly</a></li>

<!--         <span class="fa-fw select-all fas"></span>


        <span class="drawtoolicon fa-fw select-all fas" style="color: #0D2E56;"></span> -->



        <!-- <br/> -->

<!--         <li role="presentation" class="drawtoolheaders toolSelect" id="MULTI_POINT"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>  -->
<!--         <li role="presentation" class="drawtoolheaders toolSelect" id="Point"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li> 
 -->





<!--         <li role="presentation" class="drawtoolheaders toolSelect" id="Pin"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>  -->
<!--         <li role="presentation" class="drawtoolheaders toolSelect" id="MULTI_POINT"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>  -->


        <!-- far  -->
 




        <!-- <li role="presentation" class="drawtoolheaders" id="UndoBtn"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li> -->


        <!-- 'done' button -->
        <!-- <li role="presentation" class="drawtoolheaders doneDrawBtn"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>done</a></li> -->



        <!-- Color Pallette and Erase button -->
        <li role="presentation" class="dropdown cleantoolheaders ColorPallet" style="padding-left:20px;">
           <a class="dropdown-toggle toolPlain" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
             <i class="drawtoolicon drawtooliconShapes ion-android-color-palette" ></i> 

             <span class="ColorPalletExpand ion-android-more-vertical"></span>
           </a>
           <ul class="dropdown-menu ColorPalletDropMenu" style="">
            <li class="colorSelect" id="redColor"><a href=""><span class="fa-fw select-all fas" ></span></a></li>
            <li class="colorSelect" id="greenColor"><a href=""><span class="fa-fw select-all fas" ></span></a></li>
            <li class="colorSelect" id="blueColor"><a href=""><span class="fa-fw select-all fas" ></span></a></li>
           </ul>
         </li>



         <li role="presentation" class="cleantoolheaders eraseBtn"><a href=""><span class="drawtoolicon drawtooliconShapes fa-fw select-all fas" ></span></a></li>





<!--          <div class="dropdown">
           <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
             <span class="ColorPalletExpand ion-android-more-vertical"></span>
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenu6">
             <a class="dropdown-item" href="#">Regular link</a>
             <a class="dropdown-item active" href="#">Active link</a>
             <a class="dropdown-item" href="#">Another link</a>
           </div>
         </div> -->








<!--         <li id="Point" class="toolSelect"  onClick="toolbar.activate(esri.toolbars.Draw.MULTI_POINT);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Point</a></li>
        <li id="Polyline" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.POLYLINE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Polyline</a></li>
        <li id="Polygon" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.POLYGON);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Polygon</a></li>
        <li id="FH_Polyline" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYLINE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Freehand Polyline</a></li>
        <li id="FH_Polygon" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYGON);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Freehand Polygon</a></li>   
        <li id="Arrow" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.ARROW);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Arrow</a></li>
        <li id="Triangle" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.TRIANGLE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Triangle</a></li>
        <li id="Circle" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.CIRCLE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Circle</a></li>
        <li id="Ellipse" class="toolSelect" onClick="toolbar.activate(esri.toolbars.Draw.ELLIPSE);functionMode='draw';" ><a href="#"><small><span class="fa fa-pencil pull-left" style="margin-top:7px; margin-right:7px;"></span></small> Ellipse</a></li>

        -Color Swatch 
        -Erase

        -X close (will finish/confirm the draw markup, execute confirm logic)

        [] Measure:
        -Uses the FH Polyline Tool
        and then outputs a read-out to an element directly on the toolbar
        -Note: May need to fix Measurement widget / distance bug (on initialization, numbers not set to zero?)

        [] Buffer:
        -Buffer is the same, but just lay-out the componenets with nowrap flex

        [] Symb./Ann. (Symbolization, Annotation)
        -Add symbols support (working from sample example code, has symbol var along with buffer)
        -Add annotation text & annotation size (font size) -->












        


<!--         <li role="presentation" class="drawtoolheaders toolSelect" id="Point"><a href=""><span class="drawtoolicon fa-fw select-all far" ></span>Point</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Line"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>Line</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Polygon"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>Poly</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="FH_Line"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>FH Line</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="FH_Polygon"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>FH Poly</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Arrow"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>Arrow</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Triangle"><a href=""><span class="drawtoolicon fa-fw select-all fas rotateIcon" ></span>Triangle</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Circle"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>Circle</a></li>
        <li role="presentation" class="drawtoolheaders toolSelect" id="Ellipse"><a href=""><span class="drawtoolicon fa-fw select-all fas" ></span>Ellipse</a></li> -->



<!--         <li role="presentation" class="drawtoolheaders" ><a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"><i class="drawtoolicon ion-android-color-palette" ></i></a>   <ul class="dropdown-menu"></ul></li> -->
        

<!--         <li role="presentation" class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
             Dropdown <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
             ...
           </ul>
         </li> -->

<!-- 
         <li role="presentation" class="drawtoolheaders" ><a href=""><span class="drawtoolicon " ></span></a></li>
 -->


<!--           <span class="ion-close pull-right closeToolIcon" ng-click="theTool=false; saveLegBlock(theLegend); " style="display: inline; cursor:pointer;"> </span>
 -->

      </ul>






      <!-- Buffer Tool -->
      <ul class="nav nav-pills buffer-tools-container pull-right" style="padding-top:8px;">



          <!-- dist -->
          <div style="display:inline-block; color:black; margin-right:20px;"> <!-- padding-top:8px;  -->
            <!-- Buffer Distance Input box -->
            <!-- Buffer Distance(Ft):  -->
            <!-- <b>Dist.:</b>&nbsp; --><input type="text" style="font-size:24px; width:65px; outline:none; border:1px solid black;  background-color:transparent !important; padding-left:5px; border-radius:5px;" id="bufferDistanceInputBox" size="5" value="25" /> <!-- border-bottom:0px solid black; border-left:0px solid black; -->
          </div>

          <!-- units -->
          <div style="display:inline-block; padding-bottom:2px;  padding-left:1px; color:black; margin-right:20px;">
           <div class="dropdown" style=""> <!-- line-height:1.62; customarrow -->
            <!-- <b>Buffer </b>  -->
            <select id="bufferUnitsSelectBox" style="width:72px; font-size:24px; color:black; border-bottom:2px solid black; background-color:transparent !important; cursor:pointer !important;">
              <option value="UNIT_FOOT">ft.</option>
              <option value="UNIT_STATUTE_MILE">mi.</option>
              <option value="UNIT_KILOMETER">km.</option>
              <option value="UNIT_METER">m.</option>
              <option value="UNIT_NAUTICAL_MILE">naut mi.</option>
              <option value="UNIT_US_NAUTICAL_MILE">US naut m.</option>
              <option value="UNIT_DEGREE">Degrees</option>
            </select><!-- <br /> -->
            </div>
          </div>

            <!-- Buffer Fill Checkbox -->
            <div style="display:inline-block; color:black; font-size:18px; margin-right:35px; margin-top:6px; "> <!-- padding-top:8px; -->
              <input id="bufferFillBox" class="icon-checkbox weatherPosOverrides" style="" type="checkbox" ng-model="theBufferFill" ng-change="bufferFillPass(theBufferFill);"/>
              <label for="bufferFillBox" style="cursor:pointer !important; padding-left:10px;"> <!-- border-left:2px solid black; -->
                <span class='glyphicon glyphicon-unchecked unchecked chkPadding '></span>
                <span class='glyphicon glyphicon-check checked chkPadding'></span>
                <span class="fa-fw select-all fas" >   </span>  <!-- Fill -->
              </label>
            </div>

            <!-- Create / Clear Buffer -->
            <div style="display:inline-block; color:black; float:right;"> <!-- padding-top:8px; -->
              <input class="btn btn-primary " id="bufferCreateBtn" value="Create" type="button" style="display:inline-block;"></input> <!-- form-control --> <!-- margin-bottom:5px; -->
              <input class="" id="bufferClearBtn" value="Clear" type="button" style="display:inline-block;"></input> <!-- form-control -->
              <!-- <br><br> --> <br>
              <!-- Buffer Description -->
              <!-- <center> --><span style="font-size:10px; font-style: italic;">Buffers last geometry drawn</span><!-- </center> -->
            </div>

      </ul>





      <!-- Annotate Tool -->
      <!-- <ul class="nav nav-pills annotate-tools-container pull-right" style="padding-top:8px;"> -->
        <ul class="nav nav-pills annotate-tools-container pull-right" style="padding-top:6px;">

          <!-- dist -->
<!--           <div style="display:inline-block; color:black; margin-right:20px;">
            <input type="text" style="font-size:24px; width:65px; outline:none; border:1px solid black;  background-color:transparent !important; padding-left:5px; border-radius:5px;" id="bufferDistanceInputBox" size="5" value="25" /> 
          </div> -->



          <div style="display:inline-block; color:black; float:right; width:302px; margin-right:-30px;">

            <!-- <span style="display:inline-block; font-size:10px; font-style: italic; float:left; padding:12px;">Click Map to add Text: </span> -->


            <span class="drawtoolicon fa-fw select-all fas" style="color: #0D2E56; display:inline-block; float:left; font-style: italic; padding:12px;px;"></span>
            <!-- font-size:10px; font-style: italic; -->

            <div class="input-group mb-2" style="display:inline-block !important;"> <!-- mb-3 -->
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <!-- <input type="checkbox" class="toolSelect pull-right" id="Anno_Text" aria-label="Checkbox for following text input"> -->
                  <!-- <input class="btn btn-primary " id="annoCreateBtn" value="Add" type="button" style="display:inline-block;"></input> -->


                </div>
              </div>
              <input type="text" id="annoTextBox" class="form-control pull-left" aria-label="Text input with checkbox" style="width:190px;">

              <span style="display:inline-block; font-size:10px; font-style: italic; float:right; padding:12px; padding-top:6px; width:80px;">Click Map to add Text</span>
            </div>

            

            <!-- <span style="display:inline-block; font-size:10px; font-style: italic; float:right; padding:12px;">Click Map to add Text</span> -->



            <!-- <input class="btn btn-primary doneDrawBtn"  value="done" type="button" style="display:inline-block;"></input> -->
<!--             class="drawtoolheaders doneDrawBtn" -->


          </div>



          



<!--           <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">First and last name</span>
            </div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
          </div>
 -->

          <!-- toolSelect -->

          <!-- annoTextBox -->
          <!-- $('#annoTextBox').val(bla); -->








      </ul>








    









<!-- 
      <div class="flex-container" style="position:absolute; top:7px; right:55px; display:none; "> 

        <a class="drawtoolheaders" >     <i class="drawtoolicon fa-fw select-all fas" ></i>Point    </a>
        <a href="#" class="drawtoolheaders"><i class="drawtoolicon fa-fw select-all fas" ></i>Line       </a>
        <a class="drawtoolheaders"><i class="drawtoolicon fa-fw select-all fas" ></i>Polygon   </a>

        <div>   <span class="drawtoolheaders"><i class="drawtoolicon fa-fw select-all fas" ></i>FH Line</span>      </div>
        <div>   <span class="drawtoolheaders"><i class="drawtoolicon fa-fw select-all fas" ></i>FH Polygon</span>      </div>
        <div>   <span class="drawtoolheaders"><i class="drawtoolicon fa-fw select-all fas" ></i>Arrow</span>      </div>

        <div>   <span class="drawtoolheaders"><i class="drawtoolicon fa-fw select-all fas rotateIcon" ></i>Triangle</span>      </div>
        <div>   <span class="drawtoolheaders"><i class="drawtoolicon fa-fw select-all far" ></i>Circle</span>      </div>
        <div>   <span class="drawtoolheaders"><i class="drawtoolicon fa-fw select-all fas" ></i>Ellipse</span>      </div>

        <div>   <span class="ion-android-color-palette" > </span>    </div>
        <div>   <span class="fa-fw select-all fas"></span> </div>    
      </div>  -->



   </div>




    <div id="toolDivCasing" ng-show="theTool" style="visibility:hidden;" class="conditionalShow_LegWeather blockFade" > <!-- cssFade -->


<!--       <div class=" panel-heading">
        <h2 class="">Tools <img class="widgetClose pull-right closeLegIcon" ng-click="theTool=false; saveLegBlock(theLegend)" border="0" src="css/images/icon-close2.png" style="display: inline;"></h2>
      </div> -->
<!--       <h6>Tools<img class="widgetClose pull-right closeLegIcon" ng-click="theTool=false; saveLegBlock(theLegend)" border="0" src="css/images/icon-close2.png" style="display: inline;"></h6> -->
<!-- <h8 class="">Tools <img class="widgetClose pull-right closeLegIcon" ng-click="theTool=false; saveLegBlock(theLegend)" border="0" src="css/images/icon-close2.png" style="display: inline;"></h8> -->

<!--           <div class="tool-header">
            <h2 class="">Tools <img class="widgetClose pull-right closeLegIcon" ng-click="theTool=false; saveLegBlock(theLegend)" border="0" src="css/images/icon-close2.png" style="display: inline;"></h2>

          </div> -->

  <!--       <h7>Buffer</h7> -->

          <!-- <button ng-click="theLegend=false">Hide</button> -->
  <!--       <input class="pull-right" type="button" ng-click="theLegend" value="x"> -->
        <div id="toolDiv">





        <!-- Buffer Tool -->
        <div class="flex-container-Buffer">
          <div>

              <!-- units -->
              <div style="display:inline-block; padding-top:8px;">
               <div class="dropdown" style="padding-bottom:2px; line-height:1.62; padding-left:1px;"> <!-- customarrow -->
                  <b>Buffer </b> 
                  <!-- <select class="coordsDropDown" ng-model="selectedOption" ng-options="coordOption.name for coordOption in coordOptions" ng-change="changeCoords(selectedOption)"> -->
          <!--           <option value="stateplaneft" selected="selected">State Plane ft. </option>
                    <option value="latlong">Lat / Long</option> -->
                  <!-- </select> -->

                  <select id="bufferUnitsSelectBox" style="width:80px; color:black; border-bottom:2px solid black; background-color:transparent !important;">
                    <option value="UNIT_FOOT">ft.</option>
                    <option value="UNIT_STATUTE_MILE">mi.</option>
                    <option value="UNIT_KILOMETER">km.</option>
                    <option value="UNIT_METER">m.</option>
                    <option value="UNIT_NAUTICAL_MILE">naut mi.</option>
                    <option value="UNIT_US_NAUTICAL_MILE">US naut mi.</option>
                    <option value="UNIT_DEGREE">Degrees</option>
                  </select><br />
                 </div>
                </div>

                <!-- dist -->
                <div style="display:inline-block; ">
                <!-- Buffer Distance Input box -->
                <!-- Buffer Distance(Ft):  -->
                <!-- <input class="form-control" id="bufferDistanceInputBox" value=""  placeholder="500" type="text"/> -->
               <b>Dist.:</b>&nbsp;<input type="text" style="color:black; width:50px; outline:none; border:none; border-bottom:2px solid black; background-color:transparent !important;" id="bufferDistanceInputBox" size="5" value="25" />
                </div>


                <!-- Buffer Fill Checkbox -->
                <div style="display:inline-block;">
                  <input id="bufferFillBox" class="icon-checkbox weatherPosOverrides" style="" type="checkbox" ng-model="theBufferFill" ng-change="bufferFillPass(theBufferFill);"/>
                  <label for="bufferFillBox">
                    <span class='glyphicon glyphicon-unchecked unchecked chkPadding'></span>
                    <span class='glyphicon glyphicon-check checked chkPadding'></span>
                    Fill
                  </label>

                  <!-- Create / Clear Buffer -->
                  <input class="btn btn-primary form-control" id="bufferCreateBtn" value="Create" type="button" style="margin-bottom:5px;"></input>
                  <input class="form-control" id="bufferClearBtn" value="Clear" type="button"></input>
                  <br><br>
                  <!-- Buffer Description -->
                  <center><span style="font-size:12px;">Buffers the last graphic drawn on the Map </span></center>
                </div>




              </div>


        </div> <!-- /buffer tool -->


        <!-- Measure Tool -->
<!--         <div class="flex-container">
          <div>1</div>

        </div>  --> <!-- /measure tool -->















      </div>





    </div>

        <!-- Weather Window -->
    <!--     <weather-window></weather-window> -->
<!--         <div id="weatherDivCasing" ng-show="theWeather" class="conditionalShow cssFade"  > -->
      <!--           <div style="color: #8ED1E9; font-size:17px; font-family: "verb","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;">Weather</div> -->
<!--       <div style="color: #8ED1E9; font-size:17px; font-family: "verb","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;">Weather</div>
          <div id="weatherDiv"></div>
        </div> -->
    <!-- ********************************** -->



